<!DOCTYPE html>
<html lang="en">

<head>
	<title>JobPortal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/aos.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/jquery.timepicker.css">
	<!-- <link rel="stylesheet" href="fonts/flaticon.css"> -->
	<!-- <link rel="stylesheet" href="fonts/icomoon.css"> -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<style>
	.dropdown-menu li:hover {
		background-color: #ddd;
	}
</style>
<script>
	$(document).ready(function () {


		budropdown();
		jobstatus();
		salesdropdown();
		salesrepdropdown();
		customerdropdown();
		salutationdropdown();
		highestqualdropdown();
		currentlocationdropdown();
		profilestatusdropdown();
		profiletabcountrydropdown();
		


	});


	function uploadOnChange() {
		var path = $("#choosefile").val();
		var profiletabpath = $("#profileresume").val();
		filetext = path.split('\\').pop().split('/').pop();
		profilefiletext = profiletabpath.split('\\').pop().split('/').pop();

		$("#filename").val(filetext);
		$("#pfilename").val(profilefiletext);
	}

	function jobstatus() {

		jobstatusdrop = '';
		var url = "http://localhost:2000/jobstatus";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {
				//jobstatusdrop = jobstatusdrop+"<option>--Select--</option>";
				for (var i = 0; i < result[0].length; i++) {
					jobstatusdrop = jobstatusdrop +
						'<option value="' + result[0][i].statusId + '">' + result[0][i].status + '</option>';
				}
				$("#jobstatus").html(jobstatusdrop);
				$("#statuspedit").html(jobstatusdrop);
			}
		});
	}

	function budropdown() {
		var budropdown = "";


		var url = "http://localhost:2000/bu";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {
				
			//	budropdown = budropdown+"<option style='display:none;'></option>";

				for (var i = 0; i < result[0].length; i++) {
					budropdown = budropdown +
						'<option value="' + result[0][i].bussinessunitId + '">' + result[0][i].bussinessunit + '</option>';
				}
				$("#bunit").html(budropdown);
				$("#buedit").html(budropdown);

			}
		});
	}

	function salesdropdown() {
		var salesdropdown = "";
		var url = "http://localhost:2000/sales";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {
				//            salesdropdown = salesdropdown+"<option>--Select--</option>";

				for (var i = 0; i < result[0].length; i++) {
					salesdropdown = salesdropdown +
						'<option value="' + result[0][i].salesregionsId + '">' + result[0][i].salesregions + '</option>';
				}
				$("#salesregion").html(salesdropdown);
				$("#sregionedit").html(salesdropdown);
			}
		});
	}

	function salesrepdropdown() {
		var salesrepdropdown = "";
		var url = "http://localhost:2000/salesrep";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {
				//salesrepdropdown = salesrepdropdown+"<option>--Select--</option>";

				for (var i = 0; i < result[0].length; i++) {
					salesrepdropdown = salesrepdropdown +
						'<option value="' + result[0][i].salesrepId + '">' + result[0][i].salesrep + '</option>';
				}
				$("#salesrepresent").html(salesrepdropdown);
				$("#srepedit").html(salesrepdropdown);
			}
		});
	}

	function customerdropdown() {
		var customerdropdown = "";
		var url = "http://localhost:2000/customer";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {

				//            customerdropdown = customerdropdown+"<option>--Select--</option>";

				for (var i = 0; i < result[0].length; i++) {
					customerdropdown = customerdropdown +
						'<option value="' + result[0][i].customersId + '">' + result[0][i].customers + '</option>';
				}
				$("#cus").html(customerdropdown);
				$("#custedit").html(customerdropdown);
			}
		});
	}
	//profileTab lookup's
	function salutationdropdown() {
		var salutation = "";
		var url = "http://localhost:2000/salutation";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {

				//salutation = salutation+"<option>--Select--</option>";

				for (var i = 0; i < result[0].length; i++) {
					salutation = salutation +
						'<option value="' + result[0][i].salutationid + '">' + result[0][i].salutation + '</option>';
				}
				$("#salutation").html(salutation);
				$("#peditsalutation").html(salutation); 
			}
		});
	}
	function profiletabcountrydropdown() {
		var profilecountry = "";
		var url = "http://localhost:2000/profilecountry";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {

				//profilecountry = profilecountry+"<option>--Select--</option>";

				for (var i = 0; i < result[0].length; i++) {
					profilecountry = profilecountry +
						'<option value="' + result[0][i].countryid + '">' + result[0][i].country + '</option>';
				}
				$("#country").html(profilecountry);
				$("#peditcountry").html(profilecountry);
				
			}
		});
	}
	function profiletabstatedropdown() {
		let profilecountry = $('[name="p_country"]').find(":selected").val();


		var profilestatebycountry = "";
		var url = "http://localhost:2000/statebycountry/" + profilecountry;
		console.log(url);
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {

				//profilestatebycountry = profilestatebycountry+"<option>--Select--</option>";

				for (var i = 0; i < result[0].length; i++) {
					profilestatebycountry = profilestatebycountry +
						'<option value="' + result[0][i].stateid + '">' + result[0][i].state + '</option>';
				}
				$("#state").html(profilestatebycountry);
				//$("#srepedit").html(salesrepdropdown);
			}
		});
	}
	function highestqualdropdown() {
		var highestqual = "";
		var url = "http://localhost:2000/highestqual";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {

				//highestqual = highestqual + "<option>--Select--</option>";

				for (var i = 0; i < result[0].length; i++) {
					highestqual = highestqual +
						'<option value="' + result[0][i].highestqualificationid + '">' + result[0][i].highestqualification + '</option>';
				}
				$("#highestquali").html(highestqual);
				//$("#srepedit").html(salesrepdropdown);
				$("#pedithighestquali").html(highestqual); 
			}
		});
	}
	function currentlocationdropdown() {
		var currentlocation = "";
		var url = "http://localhost:2000/curentlocation";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {
			
			//	currentlocation = currentlocation+"<option>--Select--</option>";
			currentlocation = currentlocation + "<option style='display:none;'></option>";

				for (var i = 0; i < result[0].length; i++) {
					currentlocation = currentlocation +
						'<option value="' + result[0][i].stateid + '">' + result[0][i].state + '</option>';
				}
				$("#currentlocation").html(currentlocation);
				$("#desiredlocation").html(currentlocation);
				$("#vendorpriloc").html(currentlocation);
				$("#editvendorpriloc").html(currentlocation);
				$("#peditcurrentlocation").html(currentlocation);
                $("#peditdesiredlocation").html(currentlocation);

			}
		});
	}
	function profilestatusdropdown() {
		var profilestatus = "";
		var url = "http://localhost:2000/profilestatus";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {

				//profilestatus = profilestatus + "<option>--Select--</option>";

				for (var i = 0; i < result[0].length; i++) {
					profilestatus = profilestatus +
						'<option value="' + result[0][i].statusId + '">' + result[0][i].status + '</option>';
				}
				$("#status").html(profilestatus);
				//$("#srepedit").html(salesrepdropdown);
				$("#peditstatus").html(profilestatus); 
			}
		});
	}

	function editprofilestatedropdown() {
        
        
        var profilecountry = $('[name="pedit_country"]').find(":selected").val(); 
        
        var profilestatebycountry = "";
        var url = "http://localhost:2000/statebycountry/" +profilecountry;

        $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
                
                //profilestatebycountry = profilestatebycountry+"<option>--Select--</option>";

                for (var i = 0; i < result[0].length; i++) {
                    profilestatebycountry = profilestatebycountry +
                        '<option value="' + result[0][i].stateid + '">' + result[0][i].state + '</option>';
                }
                
                $("#peditstate").html(profilestatebycountry);
            }
        });
    }

	function joblistingdetails() {
		var cardData = "";

		var url = "http://localhost:2000/joblistingdetails";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {

				for (var i = 0; i < result[0].length; i++) {


					var jobdescriptionID = "\"" + result[0][i].jobdescriptionId + "\"";

					cardData = cardData + "<div class='card' style='background-color: #73c7e752;border: 2px solid rgba(0, 0, 0, 0.21)'>" +

						"<div class='row'>" +
						"<div class='col-lg-1' style='margin-right:-7%'>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label><b>" + "Requirment ID :" + "</b></label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].requirmentId + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label><b>" + "Job Type :" + "</b></label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].role + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label><b>" + "Location :" + "</b></label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].joblocation + "</span>" + "</div>" +

						"</div>" +
						"<div class='row'>" +
						"<div class='col-lg-1'  style='margin-right:-7%'>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label><b>" + "Job Type :" + "</b></label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].jobdescription + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label><b>" + "No Of Positions :" + "</b></label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].noofpositions + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label><b>" + "Experience :" + "</b></label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].experience + "</span>" + "</div>" +

						"<div style='margin-top: -22px;  margin-left: 102px'>" +
						"<a  data-toggle='modal' href='#jobModal'class='btn btn-info' onclick='jobdisplay(" + jobdescriptionID + ")'>" + "View" + "</a>" +

						"</div>" +
						" </div>" +

						"</div>"

				}
				$("#joblistingbody").html(cardData);
			}
		});
	}

	function jobdisplay(i) {
		$("#updatehide").hide();
		var url = "http://localhost:2000/joblisting/" + i;

		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {


				$("#jdiddisplayhidden").text(result[0][0].jobdescriptionId);
				$("#reqiddisplay").text(result[0][0].requirmentId);
				$("#jlidedit").val(result[0][0].joblocation);
				$("#expedit").val(result[0][0].experience);
				$("#lfedit").val(result[0][0].locationflexibility);
				$("#jdedit").val(result[0][0].jobdescription);
				$("buedit").val(result[0][0].bussinessunit).attr('selected', 'selected');
				$("#sregionedit").val(result[0][0].salesregions).attr('selected', 'selected');
				$("#srepedit").val(result[0][0].salesrep).attr('selected', 'selected');
				$("#statuspedit").val(result[0][0].status).attr('selected', 'selected');;
				$("#psedit").val(result[0][0].primaryskills);
				$("#ssedit").val(result[0][0].secondaryskills);
				$("#cbyedit").val(result[0][0].createdby);
				$("#ubyedit").val(result[0][0].updateby);
				$("#nposedit").val(result[0][0].noofpositions);
				$("#roleedit").val(result[0][0].role);
				$("#cbydateedit").val(result[0][0].createddate.slice(0, 19));
				$("#ubydateedit").val(result[0][0].updatedtime.slice(0, 19));
				$("#datereqedit").val(result[0][0].dateofreq.slice(0, 19));
				$("#expdateedit").val(result[0][0].expecteddate.slice(0, 19));
				$("#custedit").val(result[0][0].customers).attr('selected', 'selected');
				$("#JD_comment").val(result[0][0].jdcomments);
				$("#BU_comment").val(result[0][0].bucomments);
			}
		});
	}



	function enablejoblist() {
		$("#updatehide").show();
		$("#edithide").hide();

		$("#jlidedit").attr('disabled', false);
		$("#expedit").attr('disabled', false);
		$("#lfedit").attr('disabled', false);
		$("#jdedit").attr('disabled', false);
		$("#buedit").attr('disabled', false);
		$("#sregionedit").attr('disabled', false);
		$("#srepedit").attr('disabled', false);
		$("#statuspedit").attr('disabled', false);
		$("#psedit").attr('disabled', false);
		$("#ssedit").attr('disabled', false);
		$("#cbyedit").attr('disabled', false);
		$("#ubyedit").attr('disabled', false);
		$("#nposedit").attr('disabled', false);
		$("#roleedit").attr('disabled', false);
		$("#cbydateedit").attr('disabled', false);
		$("#ubydateedit").attr('disabled', false);
		$("#datereqedit").attr('disabled', false);
		$("#expdateedit").attr('disabled', false);
		$("#custedit").attr('disabled', false);
		$("#JD_comment").attr('disabled', false);
		$("#BU_comment").attr('disabled', false);
	}

	function addjd() {
		
		var Requirement = $('[name="Requirementid"]').val();
		var Role = $('[name="role"]').val();
		var Position = $('[name="positions"]').val();
		var Expected = $('[name="ex_date"]').val();
		//var dateofreq = $('[name="sregion_edit"]').val();
		var Exp = $('[name="experience"]').val();
		var PSkill = $('[name="primary_skill"]').val();
		var SSkill = $('[name="secondry_skill"]').val();
		var locationflex = $('[name="loc_flex"]').val();
		var customerid = $('[name="customer"]').val();
		var Status = $('[name="status"]').val();
		var buid = $('[name="bu_unit"]').val();
		var salesregionid = $('[name="sales_region"]').val();
		var salesrepid = $('[name="sale_rep"]').val();
		var joblocation = $('[name="job_location"]').val();
		var jDescription = $('[name="job_description"]').val();
		var buComments = $('[name="buComments"]').val();
		var jdComments = $('[name="jd_comments"]').val();
		var createdby = 'Admin';
		// var createdate = $('[name="cust_edit"]').val();
		var updateby = 'Admin';
		//  var updatetime = $('[name="bucomments"]').val();



		var data = {
			"Requirement": Requirement,
			"Role": Role,
			"Position": Position,
			"Expected": Expected,
			"Exp": Exp,
			"PSkill": PSkill,
			"SSkill": SSkill,
			"locationflex": locationflex,
			"customerid": customerid,
			"Status": Status,
			"buid": buid,
			"salesregionid": salesregionid,
			"salesrepid": salesrepid,
			"joblocation": joblocation,
			"jDescription": jDescription,
			"buComments": buComments,
			"jdComments": jdComments,
			"createdby": createdby,
			"updateby": updateby

		}

		data = JSON.stringify(data);
		var url = "http://localhost:2000/jdescription";
		console.log(url);
		if(Requirement!="" && Role!="" && Position!=""&& Expected!=""&& Exp!=""&& PSkill!=""&& SSkill!=""&& locationflex!=""&& customerid!=""
		&& Status!=""&& buid!=""&& salesregionid!=""&& joblocation!=""&& jDescription!="")
		  {
		$.ajax({
			url: url,
			type: "POST",
			async: false,
			data: data,
			contentType: "application/json",
			dataType: "json",
			success: function (result) {

				$('#successmodal').modal('show');
				

			},
			error: function () {
				
			}
		});

	}
	}


	function cancelenable() {

		$("#edithide").show();

		$("#jlidedit").attr('disabled', true);
		$("#expedit").attr('disabled', true);
		$("#lfedit").attr('disabled', true);
		$("#jdedit").attr('disabled', true);
		$("#buedit").attr('disabled', true);
		$("#sregionedit").attr('disabled', true);
		$("#srepedit").attr('disabled', true);
		$("#statuspedit").attr('disabled', true);
		$("#psedit").attr('disabled', true);
		$("#ssedit").attr('disabled', true);
		$("#cbyedit").attr('disabled', true);
		$("#ubyedit").attr('disabled', true);
		$("#nposedit").attr('disabled', true);
		$("#roleedit").attr('disabled', true);
		$("#cbydateedit").attr('disabled', true);
		$("#ubydateedit").attr('disabled', true);
		$("#datereqedit").attr('disabled', true);
		$("#expdateedit").attr('disabled', true);
		$("#custedit").attr('disabled', true);
		$("#JD_comment").attr('disabled', true);
		$("#BU_comment").attr('disabled', true);

	}

	function updatejd() {

		$("#edithide").show();
		$("#updatehide").hide();

		var jobdescriptionId = $('[name="jdiddisplay_hidden"]').text();
		var reqid = $('[name="reqid_display"]').text();
		var joblocation = $('[name="jlid_edit"]').val();
		var experience = $('[name="exp_edit"]').val();
		var expecteddate = $('[name="expdate_edit"]').val();
		var locaflex = $('[name="lf_edit"]').val();
		var jobdescription = $('[name="jd_edit"]').val();
		var bussinessunit = $('[name="bu_edit"]').val();
		var salesregion = $('[name="sregion_edit"]').val();
		var salerep = $('[name="srep_edit"]').val();
		var status = $('[name="statusp_edit"]').val();
		var primaryskill = $('[name="ps_edit"]').val();
		var secondaryskill = $('[name="ss_edit"]').val();
		var updateby = $('[name="uby_edit"]').val();
		var noofpos = $('[name="npos_edit"]').val();
		var role = $('[name="role_edit"]').val();
		var updatedate = $('[name="ubydate_edit"]').val();
		var dateofreq = $('[name="datereq_edit"]').val();
		var customer = $('[name="cust_edit"]').val();
		var jdcomments = $('[name="jdcomments"]').val();
		var bucomments = $('[name="bucomments"]').val();


		var data = {

			"jobdescriptionId": jobdescriptionId,
			"reqid": reqid,
			"joblocation": joblocation,
			"experince": experience,
			"expecteddate": expecteddate,
			"locaflex": locaflex,
			"jobdescription": jobdescription,
			"bussinessunit": bussinessunit,
			"salesregion": salesregion,
			"salerep": salerep,
			"status": status,
			"primaryskill": primaryskill,
			"secondaryskill": secondaryskill,
			"updateby": updateby,
			"noofpos": noofpos,
			"role": role,
			"updatedate": updatedate,
			"dateofreq": dateofreq,
			"customer": customer,
			"jdcomments": jdcomments,
			"bucomments": bucomments

		}

		data = JSON.stringify(data);

		$.ajax({
			url: "http://localhost:2000/updatejoblisting/" + jobdescriptionId,
			type: "POST",
			async: false,
			data: data,
			contentType: "application/json",
			dataType: "json",
			success: function (result) {

			},
			error: function () {
			}
		});

		joblistingdetails();

	}

	function profileslistingdetails() {

		var cardData = "";

		var url = "http://localhost:2000/profileslistingdetails";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {

				for (var i = 0; i < result[0].length; i++) {

					var profileID = "\"" + result[0][i].profileid + "\"";

					cardData = cardData + "<div class='card' style='background-color: #73c7e752;border: 2px solid rgba(0, 0, 0, 0.21)'>" +

						"<div class='row'>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Requirment ID :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].jobrecid + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Candidate Name :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].firstname + "&nbsp" + result[0][i].lastname + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Skill :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].skillset + "</span>" + "</div>" +
						"</div>" +
						"<div class='row'>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Experience :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].experince + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Status :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].status + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Vendor :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].vendorid + "</span>" + "</div>" +
						"<div style='margin-top: -22px;  margin-left: 102px'>" +
						"<a href='#profileEditModal' data-toggle='modal' class='btn btn-info' onclick='profilesdisplay( " + profileID + ")'>" + "View" + "</a>" +

						"</div>" +

						" </div>" +
						"</div>"

				}

				$("#profileslistingbody").html(cardData);

			}
		});
	}

	function profilesdisplay(i) {
		$("#updateeditprofile").hide(); 
		var url = "http://localhost:2000/profilelisting/" + i;

		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {

				console.log(result);
				$("#editprofilehiddenId").text(result[0][0].profileid); 
				$("#pprofileid").text(result[0][0].profileid);
				$("#peditjobrecid").val(result[0][0].jobrecid);
				$("#peditsalutation").val(result[0][0].salutationid).attr('selected', 'selected');
				$("#peditfirstname").val(result[0][0].firstname);
				$("#peditlastname").val(result[0][0].lastname);
				$("#peditemail").val(result[0][0].email);
				$("#peditmobile").val(result[0][0].mobile);
				$("#peditdob").val(result[0][0].dob.slice(0, 19));
				$("#peditaddress1").val(result[0][0].address1);
				$("#peditaddress2").val(result[0][0].address2);
				$("#peditcity").val(result[0][0].city);
				$("#peditstate").val(result[0][0].stateid).attr('selected', 'selected');
				$("#peditcountry").val(result[0][0].countryid).attr('selected', 'selected');
				$("#peditpostalcode").val(result[0][0].postalcode);
				$("#peditexperience").val(result[0][0].experince);
				$("#pedithighestquali").val(result[0][0].highestqualificationid).attr('selected', 'selected');
				$("#peditcurrentjobtitle").val(result[0][0].currentjobtitle);
				$("#peditcurrentsalary").val(result[0][0].currentsalary);
				$("#peditexpectedsalary").val(result[0][0].expectedsalary);
				$("#peditskillset").val(result[0][0].skillset);
				$("#peditskypeid").val(result[0][0].skypeid);
				$("#peditnoticeperiod").val(result[0][0].noticeperiod);
				$("#peditcurrentlocation").val(result[0][0].currentlocationid).attr('selected', 'selected');
				$("#peditdesiredlocation").val(result[0][0].desiredlocationid).attr('selected', 'selected');
				$("#peditstatus").val(result[0][0].statusid).attr('selected', 'selected');
				$("#peditvendorid").val(result[0][0].vendorid);
				$("#peditfilename").val(result[0][0].resumename);

			}

		});

	}

	function addprofile() {

		//            var Profileid = $('[name="profileid"]').val();
		var Jobrecid = $('[name="pjob_recid"]').val();
		var Salutation = $('[name="psalutation_id"]').val();
		var Firstname = $('[name="pfirst_name"]').val();
		var Lastname = $('[name="plast_name"]').val();
		var Email = $('[name="p_email"]').val();
		var Mobile = $('[name="p_mobile"]').val();
		var Dob = $('[name="p_dob"]').val();
		var Address1 = $('[name="p_address1"]').val();
		var Address2 = $('[name="p_address2"]').val();
		var City = $('[name="p_city"]').val();
		var State = $('[name="p_state"]').val();
		var Country = $('[name="p_country"]').val();
		var Postalcode = $('[name="p_postalcode"]').val();
		var Experience = $('[name="p_experience"]').val();
		var Highestquali = $('[name="p_highestquali"]').val();
		var Currentjobtitle = $('[name="pcurrent_jobtitle"]').val();
		var Currentsalary = $('[name="pcurrent_salary"]').val();
		var Expectedsalary = $('[name="pexpected_salary"]').val();
		var Skillset = $('[name="pskill_set"]').val();
		var Skypeid = $('[name="pskype_id"]').val();
		var Noticeperiod = $('[name="pnotice_period"]').val();
		var Currentlocation = $('[name="pcurrent_location"]').val();
		var Desiredlocation = $('[name="pdesired_location"]').val();
		var Status = $('[name="p_status"]').val();
		var Resume = $('[name="presume_name"]').val();
		var Vendorid = $('[name="p_vendorid"]').val();
		var Createdby = 'Admin';
		var Updateby = 'Admin';



		var data = {

			//            "Profileid": Profileid,
			"Jobrecid": Jobrecid,
			"Salutation": Salutation,
			"Firstname": Firstname,
			"Lastname": Lastname,
			"Email": Email,
			"Mobile": Mobile,
			"Dob": Dob,
			"Address1": Address1,
			"Address2": Address2,
			"City": City,
			"State": State,
			"Country": Country,
			"Postalcode": Postalcode,
			"Experience": Experience,
			"Highestquali": Highestquali,
			"Currentjobtitle": Currentjobtitle,
			"Currentsalary": Currentsalary,
			"Expectedsalary": Expectedsalary,
			"Skillset": Skillset,
			"Skypeid": Skypeid,
			"Noticeperiod": Noticeperiod,
			"Currentlocation": Currentlocation,
			"Desiredlocation": Desiredlocation,
			"Status": Status,
			"Resume": Resume,
			"Vendorid": Vendorid,
			"Createdby": Createdby,
			"Updateby": Updateby

		}

		data = JSON.stringify(data);

		var url = "http://localhost:2000/addprofiles";
		console.log(url)

if (Jobrecid!="" && Salutation!="" && Firstname!="" && Lastname!="" &&Email!="" && Mobile!="" && Dob!="" && Address1!=""
&&Address2!="" && City!="" && State!="" && Country!="" &&Postalcode!="" && Experience!="" && Highestquali!="" && Currentjobtitle!=""
&&Currentsalary!="" && Expectedsalary!="" && Skillset!="" && Skypeid!="" &&Noticeperiod!="" && Currentlocation!="" && Desiredlocation!="" && Status!=""
&& Resume!="" && Vendorid!="")
{
		$.ajax({
			url: url,
			type: "POST",
			async: false,
			data: data,
			contentType: "application/json",
			dataType: "json",
			success: function (result) {

				$('#successmodal').modal('show');
				


			},
			error: function () {
				

			}
		});
	}

	}

	function updateprofile(){
        
        var peditprofileId = $('[name="editprofile_hiddenId"]').text(); 
            var peditjobdescriptionId = $('[name="peditjob_recid"]').val();
            var peditsalutationId= $('[name="peditsalutation_id"]').val();
            var peditfirstname = $('[name="peditfirst_name"]').val();
            var peditlastname= $('[name="peditlast_name"]').val();
            var peditemail = $('[name="pedit_email"]').val();
            var peditmobile = $('[name="pedit_mobile"]').val();
            var peditdob = $('[name="pedit_dob"]').val();
            var peditaddress1 = $('[name="pedit_address1"]').val();     
            var peditaddress2 = $('[name="pedit_address2"]').val();
            var peditcity = $('[name="pedit_city"]').val();
            var peditstate = $('[name="pedit_state"]').val();
            var peditcountry = $('[name="pedit_country"]').val();
            var peditpostalcode = $('[name="pedit_postalcode"]').val();
            var peditexperience = $('[name="pedit_experience"]').val();
            var pedithighestquali = $('[name="pedit_highestquali"]').val();
            var peditcurrentjobtitle = $('[name="peditcurrent_jobtitle"]').val();
            var peditcurrentsalary = $('[name="peditcurrent_salary"]').val();
            var peditexpectedsalary = $('[name="peditexpected_salary"]').val();
            var peditskillset = $('[name="peditskill_set"]').val();
            var peditskypeid = $('[name="peditskype_id"]').val();
            var peditnoticeperiod = $('[name="peditnotice_period"]').val();
            var peditcurrentlocation = $('[name="peditcurrent_location"]').val();
            var peditdesiredlocation = $('[name="peditdesired_location"]').val();
            var peditstatus = $('[name="pedit_status"]').val();
            var peditresumename = $('[name="peditresume_name"]').val();
            var peditvendorid = $('[name="pedit_vendorid"]').val();
                        

            var data = {
                
                "peditprofileId":peditprofileId,
                "peditjobdescriptionId": peditjobdescriptionId,
                "peditsalutationId": peditsalutationId,
                "peditfirstname": peditfirstname,
                "peditlastname": peditlastname,
                "peditemail": peditemail,
                "peditmobile": peditmobile,
                "peditdob": peditdob,
                "peditaddress1": peditaddress1,
                "peditaddress2": peditaddress2,
                "peditcity": peditcity,
                "peditstate": peditstate,
                "peditcountry": peditcountry,
                "peditpostalcode": peditpostalcode,
                "peditexperience": peditexperience,
                "pedithighestquali":pedithighestquali,
                "peditcurrentjobtitle": peditcurrentjobtitle,
                "peditcurrentsalary": peditcurrentsalary,
                "peditexpectedsalary": peditexpectedsalary,
                "peditskillset": peditskillset,
                "peditskypeid": peditskypeid,
                "peditnoticeperiod": peditnoticeperiod,
                "peditcurrentlocation": peditcurrentlocation,
                "peditdesiredlocation": peditdesiredlocation,
                "peditstatus": peditstatus,
                "peditresumename": peditresumename,
                "peditvendorid": peditvendorid,
                "peditupdatedby": 'Admin'
            
            }
            
            data = JSON.stringify(data);
            url="http://localhost:2000/updateprofile/"+peditprofileId,
            
            $.ajax({
                url: url,
                type: "POST",
                async: false,
                data: data,
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    
                },
                error: function () {
                }
            });
            
            profileslistingdetails();

        }
		function enableprofileedit(){
    $("#profileeditbtn").hide();
    $("#updateeditprofile").show();
                    $("#peditjobrecid").attr('disabled',false);
                    $("#peditsalutation").attr('disabled',false);
                    $("#peditfirstname").attr('disabled',false);
                    $("#peditlastname").attr('disabled',false);
                    $("#peditemail").attr('disabled',false);
                    $("#peditmobile").attr('disabled',false);
                    $("#peditdob").attr('disabled',false);
                    
                    $("#peditaddress1").attr('disabled',false);
                    $("#peditaddress2").attr('disabled',false);
                    $("#peditcity").attr('disabled',false);
                    $("#peditstate").attr('disabled',false);
                    $("#peditcountry").attr('disabled',false);
                    $("#peditpostalcode").attr('disabled',false);
                    $("#peditexperience").attr('disabled',false);
                    $("#pedithighestquali").attr('disabled',false);
                    $("#peditcurrentjobtitle").attr('disabled',false);
                    $("#peditcurrentsalary").attr('disabled',false);
                    $("#peditexpectedsalary").attr('disabled',false);
                    $("#peditskillset").attr('disabled',false);
                    $("#peditskypeid").attr('disabled',false);
                    $("#peditnoticeperiod").attr('disabled',false);
                    $("#peditcurrentlocation").attr('disabled',false);
                    $("#peditdesiredlocation").attr('disabled',false);
                    $("#peditstatus").attr('disabled',false);
                    $("#peditvendorid").attr('disabled',false);
                    $("#peditfilename").attr('disabled',false);
}

function disableprofileedit(){
    $("#profileeditbtn").show();
    $("#updateeditprofile").hide();
                    $("#peditjobrecid").attr('disabled',true);
                    $("#peditsalutation").attr('disabled',true);
                    $("#peditfirstname").attr('disabled',true);
                    $("#peditlastname").attr('disabled',true);
                    $("#peditemail").attr('disabled',true);
                    $("#peditmobile").attr('disabled',true);
                    $("#peditdob").attr('disabled',true);
                    
                    $("#peditaddress1").attr('disabled',true);
                    $("#peditaddress2").attr('disabled',true);
                    $("#peditcity").attr('disabled',true);
                    $("#peditstate").attr('disabled',true);
                    $("#peditcountry").attr('disabled',true);
                    $("#peditpostalcode").attr('disabled',true);
                    $("#peditexperience").attr('disabled',true);
                    $("#pedithighestquali").attr('disabled',true);
                    $("#peditcurrentjobtitle").attr('disabled',true);
                    $("#peditcurrentsalary").attr('disabled',true);
                    $("#peditexpectedsalary").attr('disabled',true);
                    $("#peditskillset").attr('disabled',true);
                    $("#peditskypeid").attr('disabled',true);
                    $("#peditnoticeperiod").attr('disabled',true);
                    $("#peditcurrentlocation").attr('disabled',true);
                    $("#peditdesiredlocation").attr('disabled',true);
                    $("#peditstatus").attr('disabled',true);
                    $("#peditvendorid").attr('disabled',true);
                    $("#peditfilename").attr('disabled',true);
}



	function addvendor() {


		var Vendorid = $('[name="vendor_id"]').val();
		var Vendorname = $('[name="vendor_name"]').val();
		var Vendorpriloc = $('[name="vendor_priloc"]').val();
		var Vendorspec = $('[name="vendor_spec"]').val();
		var Vendoremail = $('[name="vendor_email"]').val();
		var Recruiterid = $('[name="recruiter_id"]').val();
		var Recruitername = $('[name="recruiter_name"]').val();
		var Recruitercontno = $('[name="recruiter_contno"]').val();
		var Vendorrating = $('[name="vendor_rating"]').val();
		var Vendorcomments = $('[name="vendor_comments"]').val();
		var Createdby = 'Admin';
		var Updateby = 'Admin';

		var data = {


			"Vendorid": Vendorid,
			"Vendorname": Vendorname,
			"Vendorpriloc": Vendorpriloc,
			"Vendorspec": Vendorspec,
			"Vendoremail": Vendoremail,
			"Recruiterid": Recruiterid,
			"Recruitername": Recruitername,
			"Recruitercontno": Recruitercontno,
			"Vendorrating": Vendorrating,
			"Vendorcomments": Vendorcomments,
			"Createdby": Createdby,
			"Updateby": Updateby

		}

		data = JSON.stringify(data);

		var url = "http://localhost:2000/addvendor";

		if(Vendorid!="" && Vendorname!="" && Vendorpriloc!=""&& Vendorspec!=""&& Vendoremail!=""&& Recruiterid!=""&& Recruitername!=""&& Recruitercontno!=""&&Vendorrating!=""&&Vendorcomments!=""){

		
		$.ajax({
			url: url,
			type: "POST",
			async: false,
			data: data,
			contentType: "application/json",
			dataType: "json",
			success: function (result) {

				$('#successmodal').modal('show');

			},
			error: function () {
			}
		});
	}

	}


	function vendorlistingdetails() {

		var cardData = "";

		var url = "http://localhost:2000/vendorlistingdetails";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {



				for (var i = 0; i < result[0].length; i++) {

					var vendorid = "\"" + result[0][i].vendorId + "\"";

					cardData = cardData + "<div class='card' style='background-color: #73c7e752;border: 2px solid rgba(0, 0, 0, 0.21)'>" +

						"<div class='row'>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Vendor ID :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].vendorcode + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Vendor Name :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].vendorname + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Vendor Email :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].vendoremail + "</span>" + "</div>" +
						"</div>" +
						"<div class='row'>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Recruiter Id :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].recruiterId + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Recruiter Name :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].recruitername + "</span>" + "</div>" +
						"<div class='col-lg-3'>" +
						"<label>" + "Vendor Rating :" + "</label>" + "<span style='color: black;font-size: 13px;'>" + result[0][i].rating + "</span>" + "</div>" +
						"<div style='margin-top: -22px;  margin-left: 102px'>" +
						"<a href='#vendoreditmodal' data-toggle='modal' class='btn btn-info' onclick='vendordisplay( " + vendorid + ")'>" + "View" + "</a>" +

						"</div>" +

						" </div>" +
						"</div>"

				}

				$("#vendorlistingbody").html(cardData);

			}
		});
	}

	function vendordisplay(i) {

		$("#updatevendor").hide();
		var url = "http://localhost:2000/vendorlisting/" + i;

		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {

				console.log(result);
				$("#vendoridhidden").text(result[0][0].vendorId);
				$("#editvendorid").val(result[0][0].vendorcode);
				$("#editvendorname").val(result[0][0].vendorname);
				$("#editvendorpriloc").val(result[0][0].vendorprimarylocation).attr('selected', 'selected');
				$("#editvendorspec").val(result[0][0].vendorspecification);
				$("#editvendoremail").val(result[0][0].vendoremail);
				$("#editrecruiterid").val(result[0][0].recruiterId);
				$("#editrecruitername").val(result[0][0].recruitername);
				$("#editrecruitercontno").val(result[0][0].recruitercontactno);
				$("#editvendorrating").val(result[0][0].rating);
				$("#editvendorcomments").val(result[0][0].vendorcomments);


			}

		});

	}

	function enablevendorlist() {

		$("#editvendor").hide();
		$("#updatevendor").show();

		$("#editvendorid").attr('disabled', false);
		$("#editvendorname").attr('disabled', false);
		$("#editvendorpriloc").attr('disabled', false);
		$("#editvendorspec").attr('disabled', false);
		$("#editvendoremail").attr('disabled', false);
		$("#editrecruiterid").attr('disabled', false);
		$("#editrecruitername").attr('disabled', false);
		$("#editrecruitercontno").attr('disabled', false);
		$("#editvendorrating").attr('disabled', false);
		$("#editvendorcomments").attr('disabled', false);

	}


	function cancelenablevendor() {
		$("#editvendor").show();
		$("#updatevendor").hide();

		$("#editvendorid").attr('disabled', true);
		$("#editvendorname").attr('disabled', true);
		$("#editvendorpriloc").attr('disabled', true);
		$("#editvendorspec").attr('disabled', true);
		$("#editvendoremail").attr('disabled', true);
		$("#editrecruiterid").attr('disabled', true);
		$("#editrecruitername").attr('disabled', true);
		$("#editrecruitercontno").attr('disabled', true);
		$("#editvendorrating").attr('disabled', true);
		$("#editvendorcomments").attr('disabled', true);

	}

	function updatevendorbyid() {

		$("#editvendor").show();

		var vendorid = $('[name="vendorid_hidden"]').text();
		console.log(vendorid);
		var Vendorcode = $('[name="editvendor_id"]').val();
		var Vendorname = $('[name="editvendor_name"]').val();
		var Vendorpriloc = $('[name="editvendor_priloc"]').val();
		var Vendorspec = $('[name="editvendor_spec"]').val();
		var Vendoremail = $('[name="editvendor_email"]').val();
		var Recruiterid = $('[name="editrecruiter_id"]').val();
		var Recruitername = $('[name="editrecruiter_name"]').val();
		var Recruitercontno = $('[name="editrecruiter_contno"]').val();
		var Vendorrating = $('[name="editvendor_rating"]').val();
		var Vendorcomments = $('[name="editvendor_comments"]').val();
		var Updateby = 'Admin';

		var data = {

			"vendorid": vendorid,
			"Vendorcode": Vendorcode,
			"Vendorname": Vendorname,
			"Vendorpriloc": Vendorpriloc,
			"Vendorspec": Vendorspec,
			"Vendoremail": Vendoremail,
			"Recruiterid": Recruiterid,
			"Recruitername": Recruitername,
			"Recruitercontno": Recruitercontno,
			"Vendorrating": Vendorrating,
			"Vendorcomments": Vendorcomments,
			"Updateby": Updateby

		}
		console.log(data);
		data = JSON.stringify(data);
		var url = "http://localhost:2000/updatevendor/" + vendorid;
		console.log(url);
		$.ajax({
			url: url,
			type: "POST",
			async: false,
			data: data,
			contentType: "application/json",
			dataType: "json",
			success: function (result) {

			},
			error: function () {
			}
		});

		vendorlistingdetails();

	}


</script>



<body>
	<div id='screenloading'>

		<div class="container">
			<div class="modal fade " role="dialog" id="successmodal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header" style="background: #47c9a2;">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body text-center">
							<img src="/assets/img/success.png" style="height: 105px;width:103px;">
							<h4>SUCCESS</h4>
							<p>Created Successfully.</p>
						</div>
					</div>
				</div>
			</div>

		</div>


	</div>
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">


				<div class="col-sm-8">
					<a class="navbar-brand" href="index.html">
						<h1 style="font-weight: 600;font-size:50px;color:#6bf682;">JobTracker</h1>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
						aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="oi oi-menu"></span> Menu
					</button>
				</div>
				<div class="col-sm-4">
					<div class="collapse navbar-collapse" id="ftco-nav">
						<ul class="nav">

							<li class="active"><a data-toggle="tab" data-target="#jobsTab"
									style="font-size: 20px;color: #73c7e7;font-weight: 900;">Jobs</li>
							<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
									style="font-size: 20px;color: #73c7e7;font-weight: 900;padding: 23px;">Operations
									<span class="caret"></span></a>
								<ul class="dropdown-menu"
									style="left: 19px;background-color: #73c7e7;text-align: center;">
									<li><a  data-toggle="tab" id="jobstabid"  data-target="#operationsTab" style="color: white;"
											onclick="joblistingdetails()">Jobs</a></li>
									<li><a data-target="#profilesTab" data-toggle="tab" id="profiletabid" style="color: white;"
								           onclick="profileslistingdetails()">Profiles</a></li>
									<li><a data-target="#vendorsTab" data-toggle="tab" id="vendortabid" style="color: white;"
										onclick="vendorlistingdetails()">Vendors</a></li>
								</ul>
							</li>
							<li class=""><a data-toggle="tab" href="/interviewTab"
									style="font-size: 20px;color: #73c7e7;font-weight: 900;">Interviews</a></li>

						</ul>

					</div>
				</div>
			</nav>
		</div>

	</div>







	<div class="hero-wrap js-fullheight" style="background-image: url('/assets/img/bg_2.jpg');"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
				data-scrollax-parent="true">
				<div class="col-xl-12 ftco-animate mb-5 pb-5" data-scrollax=" properties: { translateY: '70%' }">
					<p class="mb-4 mt-5 pt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We have
						<span class="number" data-number="8">0</span> great job offers you observe!</p>
					<h1 class="mb-5" style="font-weight: 100;font-size:40px;"
						data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Job Creation</h1>


					<div class="tab-content">
						<div id="jobsTab" class="tab-pane fade in active"
							style="
                                                                                                                                background-color: white;">
							<form class="search-job" method="post" onsubmit="return false">

								<div id="jobdetails">

									<h3 style="font-size:22px;font-weight: bold">New Job:</h3>

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
										style="overflow-y: scroll;height:400px;">
										

										<div class="card"
											style="background-color: #73c7e72e;border: 2px solid rgba(0, 0, 0, 0.21)">

											<h5 class="card-header" style="background-color: #73c7e7">Details</h5>
											<div class="card-body">

												<div class="row">
													<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 "></div>
													<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
														<label><span style="color:red;">*</span>Business Unit:</label>
													</div>
													<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
														<select class="form-control" id="bunit" name="bu_unit"
															required></select>
													</div>

													<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
														<label><span style="color:red;">*</span>Sales Regions:</label>
													</div>
													<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
														<select class="form-control" id="salesregion"
															name="sales_region" required></select>
													</div>
													<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>

												</div>
												<div class="row">
													<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
													<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
														<label><span style="color:red;">*</span>Sales
															Representatives:</label></div>
													<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
														<select class="form-control" id="salesrepresent" name="sale_rep"
															required></select>
													</div>

													<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
														<label><span style="color:red;">*</span>Customers:</label></div>
													<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
														<select class="form-control" id="cus" name="customer"
															required></select>
													</div>

													<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
													</div>

												</div>

												<div class="row">
													<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
													</div>
													<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
														<label>Comments:</label></div>
													<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
														<textarea style="width: 89%;border-radius: 5px; font-size:13px;"
															id="comment" name="bucomments"></textarea>
													</div>
												</div>



											</div>
										</div>


										<div id="myCollapsible" class="">
											<br>
											<div class="card"
												style="background-color: #73c7e72e;border: 2px solid rgba(0, 0, 0, 0.21)">
												<h5 class="card-header" style="background-color: #73c7e7">Job
													Description</h5>
												<div class="card-body">


													<div class="row">
														<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"></div>

														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<input type="file" id="choosefile"
																onchange="uploadOnChange()" name="myFile" multiple
																style="color: black;font-size: 13px;">
														</div>
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>

														<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
															<input type="text" class="form-control" id="filename"
																style="width: 100%;" disabled>
														</div>

													</div>
													<div class="row">
														<div class="col-sm-5">
															<hr style="width: 110%;top: -3px;position: relative;">
														</div>
														<div class="col-sm-2"><label
																style="left: 66px;position: relative;font-weight: bold">(
																OR )</label></div>
														<div class="col-sm-5">
															<hr
																style="width: 107%;top: -3px;position: relative;left: -39px;">
														</div>
													</div>
													<div class="row">
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label><span style="color:red;">*</span>Requirement
																I'd:</label></div>
														<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
															<input type="text" id="requirement" name="Requirementid"
																class="form-control" required>
														</div>

														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label><span style="color:red;">*</span>Role/Domain:</label>
														</div>
														<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
															<input type="text" id="role" name="role"
																class="form-control" required>
														</div>
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>

													</div>
													<div class="row">
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label><span style="color:red;">*</span>Expected
																Date:</label></div>
														<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
															<input type="date" id="edate" name="ex_date"
																class="form-control" required>
														</div>

														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label><span style="color:red;">*</span>No of Positions
																:</label></div>
														<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
															<input type="text" id="positions" name="positions"
																class="form-control" required>
														</div>
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>

													</div>
													<div class="row">
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label><span style="color:red;">*</span>Experience:</label>
														</div>
														<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
															<input type="text" id="experience" name="experience"
																class="form-control" required>
														</div>

														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label><span style="color:red;">*</span>Status:</label>
														</div>
														<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
															<select id="jobstatus" name="status" class="form-control"
																required></select>
														</div>
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>

													</div>

													<div class="row">
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label><span style="color:red;">*</span>Primary
																Skill:</label></div>
														<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
															<input type="text" class="form-control" name="primary_skill"
																id="piskills" required>
														</div>

														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label><span style="color:red;">*</span>Secondary
																Skill:</label></div>
														<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
															<input type="text" id="seskills" name="secondry_skill"
																class="form-control" required>
														</div>
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>

													</div>
													<div class="row">
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label><span style="color:red;">*</span>Job
																Location:</label></div>
														<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
															<input type="text" id="jloc" name="job_location"
																class="form-control" required>
														</div>

														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label>Location Flexiblity:</label></div>
														<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
															<select id="locflex" class="form-control" name="loc_flex"
																required>
																<option value="Y">Yes</option>
																<option value="N">No</option>
															</select>
														</div>
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>

													</div>

													<div class="row">
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label><span style="color:red;">*</span>Job
																Description:</label></div>
														<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
															<textarea id="jdesp" name="job_description"
																style="width: 89%;border-radius: 5px;font-size:13px;"></textarea>
														</div>
													</div>
													<div class="row">
														<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
														<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
															<label>Comments:</label></div>
														<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
															<textarea id="comm" name="jd_comments"
																style="width: 89%;border-radius: 5px;font-size:13px;"></textarea>
														</div>
													</div>




												</div>

											</div>

										</div>




									</div>


									<div class="submission" style="margin:3%;">

										<div class="row">
											<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9"></div>
											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"
												style="margin-bottom:2%;left: 89px;">
												<button type="submit" class="btn btn-sm btn-info"
													onclick="addjd();">Submit</button>
												<button type="button" id="canceljob"
													class="btn btn-sm btn-info">Cancel</button>

											</div>
										</div>
									</div>

								</div>
							</form>

						</div>


						<div id="operationsTab" class="tab-pane fade">
							<div id="jobslisting" class="">
								<br>
								<div class="card" style="background-color:white ">
									<h5 class="card-header" style="background-color: #73c7e7">Recently Added Jobs</h5>
									<div class="card-body" id="joblistingbody" style="overflow-y: scroll;height:400px;">
									</div>

								</div>

							</div>
						</div>


						<div id="profilesTab" class="tab-pane fade">
							<div id="profileslisting" class="">

								<div class="card">

									<div class="card-header" style="background-color: #73c7e7">

										<div class="row">

											<div class="col-sm-11">
												<h5>Profiles</h5>
											</div>

											<div class="col-sm-1"><button type="button" data-toggle="modal"
													data-target="#profilesmodal" class="btn">New</button>
											</div>
										</div>

									</div>
									<div class="card-body" id="profileslistingbody" style="overflow-y: scroll;height:400px;">


									</div>


								</div>


							</div>
						</div>
							<div id="vendorsTab" class="tab-pane fade">
								<div id="vendorslisting" class="">
							
								<div class="card">

									<div class="card-header" style="background-color: #73c7e7">

										<div class="row">
											<div class="col-sm-11">
												<h5>Vendors</h5>
											</div>
											<div class="col-sm-1"><button type="button" data-toggle="modal"
													data-target="#vendormodal" class="btn">New</button>
											</div>
										</div>

									</div>
									<div class="card-body" id="vendorlistingbody" style="overflow-y: scroll;height:400px;">


									</div>


								</div>


							</div>



						</div>
					
				</div>
			</div>
		</div>
	</div>




	<div class="modal fade" id="jobModal" role="dialog" style="margin-top: 3%;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #73c7e7">
					<h4 class="modal-title">Job Description</h4>
					<button type="button" class="close" data-dismiss="modal" onclick="cancelenable()">&times;</button>

				</div>
				<div class="modal-body" style="overflow:auto;height:450px;">
					<form>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Requirement ID:</label>
							</div>
							<div class="col-sm-3">
								<p id="reqiddisplay" name="reqid_display" style="color: black;font-size: 13px;"></p>

							</div>

							<div class="col-sm-2">
								<label style="width: 113px;">Job Location:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="jlidedit" name="jlid_edit" class="form-control" disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Experience:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="expedit" name="exp_edit" class="form-control" disabled>
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;">Expected date:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="expdateedit" name="expdate_edit" class="form-control" disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Location Flexibility:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="lfedit" name="lf_edit" class="form-control" disabled>
							</div>

							<div class="col-sm-2">
								<label><span style="color:red">*</span>Job description:</label>
							</div>
							<div class="col-sm-3">
								<p id="jdiddisplayhidden" name="jdiddisplay_hidden" style="display:none;"></p>
								<input type="text" id="jdedit" name="jd_edit" class="form-control" disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label>Business Unit:</label>
							</div>
							<div class="col-sm-3">

								<select class="form-control" id="buedit" name="bu_edit" class="form-control" disabled>
								</select>
							</div>

							<div class="col-sm-2">
								<label>Sales Regions:</label>
							</div>
							<div class="col-sm-3">

								<select class="form-control" id="sregionedit" name="sregion_edit" class="form-control"
									disabled>
								</select>
							</div>
							<div class="col-sm-1"></div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label>Sales Representative:</label>
							</div>
							<div class="col-sm-3">

								<select class="form-control" id="srepedit" name="srep_edit" class="form-control"
									disabled>
								</select>
							</div>

							<div class="col-sm-2">
								<label>Status:</label>
							</div>
							<div class="col-sm-3">

								<select class="form-control" id="statuspedit" name="statusp_edit" class="form-control"
									disabled>
								</select>
							</div>
							<div class="col-sm-1"></div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Primary Skill:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="psedit" name="ps_edit" class="form-control" disabled>
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;">Secondary Skill:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="ssedit" name="ss_edit" class="form-control" disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Created by:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="cbyedit" name="cby_edit" class="form-control" disabled>
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;">Updated by:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="ubyedit" name="uby_edit" class="form-control" disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>No of Positions: </label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="nposedit" name="npos_edit" class="form-control" disabled>
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;">Role/Domain:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="roleedit" name="role_edit" class="form-control" disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>

						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Created date:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="cbydateedit" name="cbydate_edit" class="form-control" disabled>
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;">Updated date:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="ubydateedit" name="ubydate_edit" class="form-control" disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Date of request:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="datereqedit" name="datereq_edit" class="form-control" disabled>
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;">Customers:</label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="custedit" name="cust_edit" disabled></select>
							</div>
							<div class="col-sm-1"> </div>
						</div>

						<div class="row">
							<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
							</div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
								<label>JD Comments:</label></div>
							<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
								<textarea style="width: 89%;border-radius: 5px; font-size:13px;" id="JD_comment"
									name="jdcomments"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
							</div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
								<label>BU Comments:</label></div>
							<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
								<textarea style="width: 89%;border-radius: 5px; font-size:13px;" id="BU_comment"
									name="bucomments"></textarea>
							</div>
						</div>


					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-info" id="edithide"
						onclick="enablejoblist()">Edit</button>
					<button type="submit" class="btn btn-sm btn-info" id="updatehide" data-dismiss="modal"
						onclick="updatejd();cancelenable()">Update</button>
					<button type="button" class="btn btn-sm btn-info" data-dismiss="modal" onclick="cancelenable()">
						Cancel</button>
				</div>
			</div>
		</div>
	</div>





	<div class="modal fade" id="profilesmodal" role="dialog" style="margin-top: 3%;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #73c7e7">
					<h5 class="modal-title">New Profile</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>

				</div>
				<div class="modal-body" style="overflow:auto;height:450px;">
					<form action="post" onsubmit="return false">
						<div class="row">
							<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Basic Information:</h4>
						</div>
						<hr style="width: 100%;top: -9px;position: relative;">
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Job Requirement ID:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="jobrecid" name="pjob_recid" class="form-control" required>
							</div>
							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Salutation:</label>
							</div>
							<div class="col-sm-3">
								<select id="salutation" name="psalutation_id" required class="form-control"
									required></select>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>First Name:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="firstname" name="pfirst_name" class="form-control" required>
							</div>
							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Last Name:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="lastname" name="plast_name" class="form-control" required>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Date of Birth:</label>
							</div>
							<div class="col-sm-3">

								<input type="date" id="dob" name="p_dob" class="form-control" required>
							</div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Mobile:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="mobile" name="p_mobile" class="form-control" required>
							</div>

							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>

							<div class="col-sm-2">
								<label><span style="color:red">*</span>Email:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="email" name="p_email" class="form-control" required>
							</div>
							<div class="col-sm-1"> </div>
						</div>

						<div class="row">
							<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Address:</h4>
						</div>
						<hr style="width: 100%;top: -9px;position: relative;">
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Address1:<label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="address1" name="p_address1" class="form-control" required>

							</div>

							<div class="col-sm-2">
								<label><span style="color:red">*</span>Address2:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="address2" name="p_address2" class="form-control" required>
							</div>
							<div class="col-sm-1"></div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>City:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="city" name="p_city" class="form-control" required>

							</div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Country:</label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="country" name="p_country"
									onclick="profiletabstatedropdown()" class="form-control" required>
								</select>
							</div>

							<div class="col-sm-1"></div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>State:</label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="state" name="p_state" class="form-control" required>
								</select>
							</div>
							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Postal Code:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="postalcode" name="p_postalcode" class="form-control" required>
							</div>
							<div class="col-sm-1"> </div>
						</div>

						<div class="row">
							<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Profession:</h4>
						</div>
						<hr style="width: 100%;top: -9px;position: relative;">
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Highest Qualification:</label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="highestquali" name="p_highestquali" required></select>

							</div>

							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Current Job Title:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="currentjobtitle" name="pcurrent_jobtitle" class="form-control"
									required>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Current Salary:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="currentsalary" name="pcurrent_salary" class="form-control"
									required>
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Expected Salary:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="expectedsalary" name="pexpected_salary" class="form-control"
									required>
							</div>
							<div class="col-sm-1"> </div>
						</div>

						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Skill Set:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="skillset" name="pskill_set" class="form-control" required>
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Skype ID:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="skypeid" name="pskype_id" class="form-control" required>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Notice Period:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="noticeperiod" name="pnotice_period" class="form-control"
									required>
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Current Location:</label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="currentlocation" name="pcurrent_location"
									required></select>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Desired Location:</label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="desiredlocation" name="pdesired_location"
									required></select>
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Experience:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="profileexperience" name="p_experience" class="form-control" required>
							</div>
							<div class="col-sm-1"> </div>
						</div>


						<div class="row">
							<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Others:</h4>
						</div>
						<hr style="width: 100%;top: -9px;position: relative;">

						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Status:</label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="status" name="p_status" class="form-control" required>
								</select>

							</div>

							<div class="col-sm-2">
								<label><span style="color:red">*</span>Vendor ID:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="profilevendorid" name="p_vendorid" class="form-control" required>
							</div>
							<div class="col-sm-1"> </div>

						</div>



						<div class="row">
							<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Attachment:</h4>
						</div>
						<hr style="width: 100%;top: -9px;position: relative;">
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Resume:</label>
							</div>
							<div class="col-sm-3">
								<input type="file" id="profileresume" onchange="uploadOnChange()" name="myFile" multiple
									style="color: black;font-size: 13px;">

							</div>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="pfilename" name="presume_name"
									style="width: 100%;" required disabled>

							</div>

							<div class="col-sm-1"> </div>

						</div>

				</div>
				<div class="modal-footer">
					<button type="Submit" class="btn btn-sm btn-info" data-dismiss="modal" onclick="addprofile()">Save</button>
					<button type="button" class="btn btn-sm btn-info" data-dismiss="modal">Cancel</button>
				</div>
				</form>
			</div>
		</div>
	</div>


	  <!-- Profile Edit Modal-->

	  <div class="modal fade" id="profileEditModal" role="dialog" style="margin-top: 3%;" >
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header" style="background-color: #73c7e7">
			  <h5 class="modal-title" >Profile Description</h5>
			  <button type="button" class="close" onclick="disableprofileedit()" data-dismiss="modal">&times;</button>
			  
			</div>
			<div class="modal-body" style="overflow:auto;height:450px;">
			  <form action="" method="">
				 <div class="row">
				<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Basic Information:</h4>
				</div>
				<hr style="width: 100%;top: -9px;position: relative;">
				<div class="row">
					<div class="col-sm-1"></div>
						<div class="col-sm-2">
							<label style="width: 113px;"><span style="color:red">*</span>Job Requirement ID:</label>
						</div>
						<div class="col-sm-3">
							<input type="text" id="peditjobrecid" name="peditjob_recid" class="form-control" required disabled>
							<p id="editprofilehiddenId" name="editprofile_hiddenId" style="display:none;"></p>  
						</div>
						<div class="col-sm-2">
							<label><span style="color:red">*</span>Email:</label>
						</div>
						<div class="col-sm-3">
							
							<input type="text" id="peditemail" name="pedit_email" class="form-control" required disabled>
						</div>
						
						<div class="col-sm-1"> </div>
					</div> 
				<div class="row">
				<div class="col-sm-1"></div>
					<div class="col-sm-2">
						 <label style="width: 113px;"><span style="color:red">*</span>Salutation:</label>
					</div>
					<div class="col-sm-3">
					<select id="peditsalutation" name="peditsalutation_id" required class="form-control" required disabled></select>     
					</div>
					<div class="col-sm-2">
						 <label style="width: 113px;"><span style="color:red">*</span>First Name:</label>
					</div>
					<div class="col-sm-3">
						
						 <input type="text" id="peditfirstname" name="peditfirst_name" class="form-control" required disabled>
					</div>
					
					<div class="col-sm-1"> </div>
				</div> 
				<div class="row">
				<div class="col-sm-1"></div>
					  <div class="col-sm-2">
						<label style="width: 113px;"><span style="color:red">*</span>Last Name:</label>
					</div>
					<div class="col-sm-3">
						  
						<input type="text" id="peditlastname" name="peditlast_name" class="form-control" required disabled>
					</div>
					<div class="col-sm-2">
						<label style="width: 113px;"><span style="color:red">*</span>Date of Birth:</label>
					</div>
					<div class="col-sm-3">
					  
						<input type="text" id="peditdob" name="pedit_dob" class="form-control" required disabled>
					</div>
					<div class="col-sm-1"> </div>
				</div>  
				<div class="row">
				<div class="col-sm-1"></div>
					<div class="col-sm-2">
						<label><span style="color:red">*</span>Mobile:</label>
					</div>
					<div class="col-sm-3">
						
						<input type="text" id="peditmobile" name="pedit_mobile" class="form-control" required disabled>
					</div>
					
					<div class="col-sm-2">
						 
					</div>
					<div class="col-sm-3">
						  
						
					</div>
					<div class="col-sm-1"> </div>
				</div> 
			   
				  <div class="row">
				<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Address:</h4>
				</div>
				 <hr style="width: 100%;top: -9px;position: relative;">
				<div class="row">
				<div class="col-sm-1"></div>
					<div class="col-sm-2">
						<label><span style="color:red">*</span>Address1:<label>
					</div>
					<div class="col-sm-3">
							<input type="text"id="peditaddress1" name="pedit_address1" class="form-control" required disabled>
						
					</div>
					
					<div class="col-sm-2">
						 <label><span style="color:red">*</span>Address2:</label>
					</div>
					<div class="col-sm-3">
						  <input type="text" id="peditaddress2" name="pedit_address2" class="form-control" required disabled> 
					</div>
					<div class="col-sm-1"></div>
				</div>
				<div class="row">
				<div class="col-sm-1"></div>
					<div class="col-sm-2">
						<label><span style="color:red">*</span>City:</label>
					</div>
					<div class="col-sm-3">  
					<input type="text" id="peditcity" name="pedit_city" class="form-control" required disabled>
					   
					</div>
					<div class="col-sm-2">
						<label><span style="color:red">*</span>Country:</label>
				   </div>
				   <div class="col-sm-3">
						<select class="form-control"  id="peditcountry" name="pedit_country" onclick="editprofilestatedropdown()" class="form-control" required disabled>
					   </select>                           
				   </div>
					
					<div class="col-sm-1"></div>
				</div>
				<div class="row">
				<div class="col-sm-1"></div>
				 <div class="col-sm-2">
					<label><span style="color:red">*</span>State:</label>
				 </div>
			   <div class="col-sm-3">                       
				   <select class="form-control" id="peditstate"  name="pedit_state" class="form-control" required disabled>
				   </select>
				</div>              
					<div class="col-sm-2">
						<label style="width: 113px;"><span style="color:red">*</span>Postal Code:</label>
					</div>
					<div class="col-sm-3">                          
						<input type="text"  id="peditpostalcode" name="pedit_postalcode" class="form-control" required disabled>
					</div>
					<div class="col-sm-1"> </div>
				</div>
	
				  <div class="row">
				<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Profession:</h4>
				</div>
				 <hr style="width: 100%;top: -9px;position: relative;">
				<div class="row">
				<div class="col-sm-1"></div>
					<div class="col-sm-2">
						 <label><span style="color:red">*</span>Highest Qualification:</label>
					</div>
					<div class="col-sm-3">
					   <select class="form-control" id="pedithighestquali" name="pedit_highestquali" required disabled></select>
						
					</div>
					
					<div class="col-sm-2">
						<label style="width: 113px;"><span style="color:red">*</span>Current Job Title:</label>
					</div>
					<div class="col-sm-3">
						<input type="text" id="peditcurrentjobtitle" name="peditcurrent_jobtitle" class="form-control" required disabled>
					</div>
					<div class="col-sm-1"> </div>
				</div> 
				<div class="row">
				<div class="col-sm-1"></div>
					<div class="col-sm-2">
						 <label><span style="color:red">*</span>Current Salary:</label>
					</div>
					<div class="col-sm-3">
					   
						 <input type="text" id="peditcurrentsalary" name="peditcurrent_salary" class="form-control" required disabled>
					</div>
					
					<div class="col-sm-2">
						<label style="width: 113px;"><span style="color:red">*</span>Expected Salary:</label>
					</div>
					<div class="col-sm-3">
						<input type="text"  id="peditexpectedsalary" name="peditexpected_salary" class="form-control" required disabled>
					</div>
					<div class="col-sm-1"> </div>
				</div>
				
				<div class="row">
				<div class="col-sm-1"></div>
					<div class="col-sm-2">
						 <label><span style="color:red">*</span>Skill Set:</label>
					</div>
					<div class="col-sm-3">
						
						 <input type="text"   id="peditskillset" name="peditskill_set"  class="form-control" required disabled>
					</div>
					
					<div class="col-sm-2">
						<label style="width: 113px;"><span style="color:red">*</span>Skype ID:</label>
					</div>
					<div class="col-sm-3">
						<input type="text"  id="peditskypeid" name="peditskype_id"  class="form-control" required disabled>
					</div>
					<div class="col-sm-1"> </div>
				</div>
				<div class="row">
				<div class="col-sm-1"></div>
					<div class="col-sm-2">
						 <label><span style="color:red">*</span>Notice Period:</label>
					</div>
					<div class="col-sm-3">
						 <input type="text"  id="peditnoticeperiod" name="peditnotice_period" class="form-control" required disabled>
					</div>
				
					<div class="col-sm-2">
						<label style="width: 113px;"><span style="color:red">*</span>Current Location:</label>
					</div>
					<div class="col-sm-3">
						  <select class="form-control" id="peditcurrentlocation" name="peditcurrent_location" required disabled></select>
					</div>
					<div class="col-sm-1"> </div>
				</div>
					<div class="row">
				<div class="col-sm-1"></div>
					<div class="col-sm-2">
						 <label><span style="color:red">*</span>Desired Location:</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" id="peditdesiredlocation" name="peditdesired_location" required disabled></select>
					</div>
				
					<div class="col-sm-2">
						<label style="width: 113px;"><span style="color:red">*</span>Experience:</label>
					</div>
					<div class="col-sm-3">
						   <input type="text"  id="peditexperience" name="pedit_experience" class="form-control" required disabled>
					</div>
					<div class="col-sm-1"> </div>
				</div>
				
				
				  <div class="row">
				<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Others:</h4>
				</div>
				 <hr style="width: 100%;top: -9px;position: relative;">
				
				 <div class="row">
				<div class="col-sm-1"></div>
					<div class="col-sm-2">
						 <label><span style="color:red">*</span>Status:</label>
					</div>
					<div class="col-sm-3">
					 <select class="form-control" id="peditstatus" name="pedit_status" class="form-control" required disabled>
						</select>
					  
					</div>
				
					<div class="col-sm-2">
						<label><span style="color:red">*</span>Vendor ID:</label>
				   </div>
				   <div class="col-sm-3">
						<input type="text"  id="peditvendorid" name="pedit_vendorid" class="form-control" required disabled>
				   </div>
					<div class="col-sm-1"> </div>
				
				</div>
	
				
				
				 <div class="row">
				<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Attachment:</h4>
				</div>
				 <hr style="width: 100%;top: -9px;position: relative;">
				<div class="row">
				 <div class="col-sm-1"></div>
				 <div class="col-sm-2">
						<label style="width: 113px;"><span style="color:red">*</span>Resume:</label>
					</div>
					<div class="col-sm-3">
					<input type="file"   id="resume" onchange="uploadOnChange()" name="myFile" multiple style="color: black;font-size: 13px;" disabled>
				  
					</div>
					<div class="col-sm-5">
						   <input type="text" class="form-control" id="peditfilename"  name="peditresume_name" style="width: 100%;" required disabled>   
						
					</div>
					
					<div class="col-sm-1"> </div>
			   
				</div>
	
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-sm btn-info" id="profileeditbtn" onclick="enableprofileedit()">Edit</button>
			  <button type="submit" id="updateeditprofile" class="btn btn-sm btn-info"  data-dismiss="modal" onclick="updateprofile(),disableprofileedit()">Update</button>
			  <button type="button" class="btn btn-sm btn-info" onclick="disableprofileedit()" data-dismiss="modal">Cancel</button>                                                      
			</div>
		  </form>
		  </div>
		</div>
	  </div>
	

	<!-- Vendor Modal -->
	<div class="modal fade" id="vendormodal" role="dialog" style="margin-top: 10%;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #73c7e7">
					<h5 class="modal-title">New Vendor</h5>
					<button type="button" class="close" data-dismiss="modal" onclick="cancelenable()">&times;</button>
				</div>
				<div class="modal-body" style="overflow:auto;height:390px;">
					<form action="post" onsubmit="return false">
						<!-- <div class="row">
                                                <h3 style="margin-left:2%;font-size: 18px;">Vendor Information:</h3>
                                                </div>
                                                <hr style="width: 100%;top: -9px;position: relative;">                                                        -->
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Vendor I'D:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="vendorid" name="vendor_id" class="form-control" required>
							</div>
							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Vendor Name:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="vendorname" name="vendor_name" class="form-control" required>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Vendor Primary Location:</label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="vendorpriloc" name="vendor_priloc" class="form-control"
									required>
								</select>
							</div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Vendor Specifications:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="vendorspec" name="vendor_spec" class="form-control" required>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>

							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Vendor Email:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="vendoremail" name="vendor_email" class="form-control" required>
							</div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Recruiter Id:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="recruiterid" name="recruiter_id" class="form-control" required>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>

							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Recruiter Name:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="recruitername" name="recruiter_name" class="form-control"
									required>
							</div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Recruiter Contact Number:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="recruitercontno" name="recruiter_contno" class="form-control"
									required>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Vendor Rating:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="vendorrating" name="vendor_rating" class="form-control" required>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label>Comments:</label>
							</div>
							<div class="col-sm-9">
								<textarea id="vendorcomments" name="vendor_comments"
									style="width: 89%;border-radius: 5px;font-size:13px;"></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="Submit" class="btn btn-sm btn-info" onclick="addvendor()">Save</button>
							<button type="button" class="btn btn-sm btn-info" data-dismiss="modal">Cancel</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>


	<!-- Vendor Edit Modal -->

	<div class="modal fade" id="vendoreditmodal" role="dialog" style="margin-top: 10%;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #73c7e7">
					<h5 class="modal-title">Vendor Description</h5>
					<button type="button" class="close" data-dismiss="modal"
						onclick="cancelenablevendor()">&times;</button>
				</div>
				<div class="modal-body" style="overflow:auto;height:390px;">
					<form action="" method="">
						<!-- <div class="row">
                                                                                                <h3 style="margin-left:2%;font-size: 18px;">Vendor Information:</h3>
                                                                                </div>
                                                                                <hr style="width: 100%;top: -9px;position: relative;"> -->
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Vendor I'D:</label>
							</div>
							<div class="col-sm-3">
								<P id="vendoridhidden" name="vendorid_hidden" style="color:black; display:none"></P>
								<input type="text" id="editvendorid" name="editvendor_id" class="form-control" required
									disabled>
							</div>
							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Vendor Name:</label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="editvendorname" name="editvendor_name" class="form-control"
									required disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Vendor Primary Location:</label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="editvendorpriloc" name="editvendor_priloc"
									class="form-control" required disabled>
								</select>
							</div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Vendor Specifications:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="editvendorspec" name="editvendor_spec" class="form-control"
									required disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>

							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Vendor Email:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="editvendoremail" name="editvendor_email" class="form-control"
									required disabled>
							</div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Recruiter Id:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="editrecruiterid" name="editrecruiter_id" class="form-control"
									required disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>

							<div class="col-sm-2">
								<label style="width: 113px;"><span style="color:red">*</span>Recruiter Name:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="editrecruitername" name="editrecruiter_name" class="form-control"
									required disabled>
							</div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Recruiter Contact Number:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="editrecruitercontno" name="editrecruiter_contno"
									class="form-control" required disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label><span style="color:red">*</span>Vendor Rating:</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="editvendorrating" name="editvendor_rating" class="form-control"
									required disabled>
							</div>
							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label>Comments:</label>
							</div>
							<div class="col-sm-9">
								<textarea id="editvendorcomments" name="editvendor_comments"
									style="width: 89%;border-radius: 5px;font-size:13px;" disabled></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-info" id="editvendor"
								onclick="enablevendorlist()" data-toggle="modal">Edit</button>
							<button type="Submit" class="btn btn-sm btn-info" id="updatevendor"
								onclick="updatevendorbyid(),cancelenablevendor()" data-dismiss="modal">update</button>
							<button type="button" class="btn btn-sm btn-info" onclick="cancelenablevendor()"
								data-dismiss="modal">Cancel</button>

						</div>
					</form>

				</div>
			</div>
		</div>
	</div>





	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/jquery.timepicker.min.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map.js"></script>
	<script src="js/main.js"></script>
</body>

</html>