<!DOCTYPE html>
<html lang="en">
  <head>
	<title>JobPortal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/aos.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/jquery.timepicker.css">
	<link rel="stylesheet" href="fonts/flaticon.css">
	<link rel="stylesheet" href="fonts/icomoon.css">
	<link rel="stylesheet" href="css/style.css">	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
  </head>
  
  <script>
	$(document).ready(function(){ 
		
		
// 		$("#v-pills-1-tab").click(function () {

// 			$("#myCollapsible").collapse('toggle');
// 			$("#jobdetails").collapse('toggle');
			
			
		
		
// 	});

// 		$("#canceljob").click(function(){
		
// 		$("#myCollapsible").hide('toggle');
// 		$("#jobdetails").hide('toggle');
	

// });
	        jobstatus();    
			budropdown();
			salesdropdown();
			salesrepdropdown();
			customerdropdown();
	


	
	
//   document.getElementById('choosefile').onchange = uploadOnChange;
	
// 	$("#v-pills-2-tab").click(function(){
		
// 		$("#jobslisting").collapse('toggle');
	

// });
// $("#v-pills-2-tab").hide();
// 	$("#v-pills-3-tab").hide();
// 	$("#v-pills-4-tab").hide();	// jobstatus(); 
// 		// togglejobs();    

	});


function uploadOnChange() {
  var path = $("#choosefile").val(); 
  filetext = path.split('\\').pop().split('/').pop();
	$("#filename").val(filetext);
}
// function toggleoperations(){
// 	$("#myCollapsible").hide('toggle');
// 	$("#jobdetails").hide('toggle');
// 	$("#v-pills-1-tab").hide();
// 	$("#v-pills-2-tab").show();
// 	$("#v-pills-3-tab").show();
// 	$("#v-pills-4-tab").show();
// }
// function togglejobs(){
// 	$("#myCollapsible").collapse('toggle');
// 	$("#jobdetails").collapse('toggle');
// 	$("#jobslisting").hide('toggle');
// 	$("#v-pills-1-tab").show();
// 	$("#v-pills-2-tab").hide();
// 	$("#v-pills-3-tab").hide();
// 	$("#v-pills-4-tab").hide();
// }
// function jobspill(){
// 	$("#myCollapsible").hide('toggle');
// 	$("#jobdetails").hide('toggle');
// 	$("#jobslisting").collapse('toggle');
	
// }


function jobstatus() {
	console.log("hai");
		jobstatusdrop='';
            var url = "http://localhost:2000/jobstatus";
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
					console.log(result);
                    for (var i = 0; i < result[0].length; i++) {
                        jobstatusdrop = jobstatusdrop +
                            '<option value="' + result[0][i].statusId + '">' + result[0][i].status + '</option>';
                    }
                    $("#jobstatus").html(jobstatusdrop);
                   
                }
            });
        }

	function budropdown() {
		var budropdown = "";
		var url = "http://localhost:2000/bu";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {
				for (var i = 0; i < result[0].length; i++) {
					budropdown = budropdown +
						'<option value="' + result[0][i].bussinessunitId + '">' + result[0][i].bussinessunit + '</option>';
				}
				$("#bunit").html(budropdown);
			}
		});
	}

	function salesdropdown() {
		var salesdropdown = "";
		var url = "http://localhost:2000/sales";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {
				for (var i = 0; i < result[0].length; i++) {
					salesdropdown = salesdropdown +
						'<option value="' + result[0][i].salesregionsId + '">' + result[0][i].salesregions + '</option>';
				}
				$("#salesregion").html(salesdropdown);
			}
		});
	}
	
	function salesrepdropdown() {
		var salesrepdropdown = "";
		var url = "http://localhost:2000/salesrep";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {
				for (var i = 0; i < result[0].length; i++) {
					salesrepdropdown = salesrepdropdown +
						'<option value="' + result[0][i].salesrepId + '">' + result[0][i].salesrep + '</option>';
				}
				$("#salesrepresent").html(salesrepdropdown);
			}
		});
	}
	
	function customerdropdown() {
		var customerdropdown = "";
		var url = "http://localhost:2000/customer";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {
				for (var i = 0; i < result[0].length; i++) {
					customerdropdown = customerdropdown +
						'<option value="' + result[0][i].customersId + '">' + result[0][i].customers + '</option>';
				}
				$("#cus").html(customerdropdown);
			}
		});
	}

	function joblistingdetails() {
		var listdisplay= "";
		var url = "http://localhost:2000/joblistingdetails";
		$.ajax({
			url: url,
			type: "GET",
			success: function (result) {
			console.log(result[0]);

			for (var i = 0; i < result[0].length; i++) {
				$("#reqidjoblist").text(result[0][i].requirmentId);
				$("#roleidjoblist").text(result[0][i].role);
				$("#locidjoblist").text(result[0][i].joblocation);
				$("#jobdesidjoblist").text(result[0][i].jobdescription);
				$("#posidjoblist").text(result[0][i].noofpositions);
				$("#expidjoblist").text(result[0][i].experience);


				}
				
			}
		});
	}



	
  </script>
  <body>
	<div class="container">
		<div class="row">
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	   
			
				<div class="col-sm-8">
	      <a class="navbar-brand" href="index.html"><h1 style="font-weight: 600;font-size:50px;color:#6bf682;">JobTracker</h1></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
		</div>
		<div class="col-sm-4">
	      <div class="collapse navbar-collapse" id="ftco-nav" >
	        <ul class="nav">
	          <!-- <li class="nav-item active"><a href="" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/about" class="nav-link">About</a></li> 
	          <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li> -->
	          <li class="active"><a  data-toggle="tab" href="#jobsTab" style="font-size: 20px;color: #73c7e7;font-weight: 900;" >Jobs</li>
			  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"  herf='#' style="font-size: 20px;color: #73c7e7;font-weight: 900;padding: 23px;">Operations
				<span class="caret"></span></a>
				<ul class="dropdown-menu" style="left: 19px;background-color: #73c7e7;text-align: center;">
					<li><a href="#operationsTab"  data-toggle="tab" style="color: white;">Jobs</a></li>
					<li><a href="#Profiles"  data-toggle="tab" style="color: white;">Profiles</a></li>
					<li><a href="#Vendors" data-toggle="tab" style="color: white;">Vendors</a></li>                        
				  </ul>		
			</li> 
	          <li class=""><a data-toggle="tab" href="/interviewTab"  style="font-size: 20px;color: #73c7e7;font-weight: 900;">Interviews</a></li>

			</ul>
			
	      </div></div>
	    </div>
	  </nav></div>
    <!-- END nav -->
    
    <div class="hero-wrap js-fullheight" style="background-image: url('/assets/img/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-xl-10 ftco-animate mb-5 pb-5" data-scrollax=" properties: { translateY: '70%' }">
          	<p class="mb-4 mt-5 pt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We have <span class="number" data-number="8">0</span> great job offers you observe!</p>
            <h1 class="mb-5" style="font-weight: 100;font-size:40px;"data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Job Creation</h1>

						
							<div class="tab-content">
								<div id="jobsTab" class="tab-pane fade in active" style="
								background-color: white;">
									<form action="/jdescription"  method="post" class="search-job">
								
										<div id="jobdetails" class="">
											  <br>
											  <!-- <div class="row">
												  <div class="col-lg-12"></div>
											  </div> -->
											  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="overflow-y: scroll;height:500px;">
													  <div class="card">
														  <h5 class="card-header" style="background-color: #73c7e7">Details</h5>
														  <div class="card-body">
															  
																  <div class="row">
																		  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 "></div>
																	  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																	  <label><span style="color:red;">*</span>Business Unit:</label></div>
																	  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																		  <select  class="form-control" id="bunit" name="bu_unit"></select>
																	  </div>
																	  
																  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																		  <label><span style="color:red;">*</span>Sales Regions:</label></div>
																		  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			  <select  class="form-control"  id="salesregion" name="sales_region" required ></select>
																		  </div>
																		  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
	  
																  </div>
																  <div class="row">
																		  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
																	  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																	  <label><span style="color:red;">*</span>Sales Representatives:</label></div>
																	  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																		  <select  class="form-control" id="salesrepresent" name="sale_rep" required></select>
																	  </div>
																	  
																  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																		  <label><span style="color:red;">*</span>Customers:</label></div>
																		  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			  <select  class="form-control" id="cus" name="customer" required ></select>
																		  </div>
													  
																		  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		  </div>
													  
																	  </div>
													  
																	  <div class="row">
																		  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		  </div>
																		  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			  <label>Comments:</label></div>
																		  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
																			  <textarea style="width: 90%;border-radius: 5px;" id="comment" name="bucomments" ></textarea>
																		  </div>
																	  </div>
													  
													  
																  
															  </div>
														  </div>
												  
												  
	  
	  
	  
	  
												  <div id="myCollapsible" class="">
														  <br>
																  <div class="card">
																	  <h5 class="card-header" style="background-color: #73c7e7">Job Description</h5>
																	  <div class="card-body">
					  
																																					  
																					  <div class="row">
																						  
																							  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"></div>
																					  
																						  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																								  <input type="file"   id="choosefile" onchange="uploadOnChange()" name="myFile" multiple style="color: black;font-size: 13px;">
																							  </div>
																							  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"></div>
																							  
																							  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																							  <input type="text" class="form-control" id="filename"  style="width: 100%;" disabled>
																							  </div>
																							  
																					  </div>
	  
																					  <div class="row">
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
																						  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																						  <label><span style="color:red;">*</span>Requirement I'd:</label></div>
																						  <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																							  <input type="text" id="requirement" name="Requirementid" class="form-control" required >
																						  </div>
																						  
																					  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																							  <label><span style="color:red;">*</span>Role/Domain:</label></div>
																							  <div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" >
																								  <input type="text" id="role" name="role" class="form-control" >
																							  </div>
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
						  
																					  </div>
																					  <div class="row">
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
																						  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																						  <label><span style="color:red;">*</span>Expected Date:</label></div>
																						  <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																							  <input type="date" id="edate" name="ex_date" class="form-control" required >
																						  </div>
																						  
																					  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																							  <label><span style="color:red;">*</span>No of Positions :</label></div>
																							  <div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																								  <input type="text" id="positions" name="positions" class="form-control" required>
																							  </div>
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
						  
																					  </div>
																					  <div class="row">
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
																						  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																						  <label><span style="color:red;">*</span>Experience:</label></div>
																						  <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																							  <input type="text" id="experience" name="experience" class="form-control" required>
																						  </div>
																						  
																					  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																							  <label><span style="color:red;">*</span>Status:</label></div>
																							  <div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																									  <select id="jobstatus"  name="status" class="form-control" required></select>
																							  </div>
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
						  
																					  </div>
					  
																					  <div class="row">
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
																						  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																						  <label><span style="color:red;">*</span>Primary Skill:</label></div>
																						  <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																								  <input type="text"  class="form-control" name="primary_skill" id="piskills" required>
																						  </div>
																						  
																					  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																					  <label><span style="color:red;">*</span>Secondary Skill:</label></div>
																							  <div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																									  <input type="text" id="seskills" name="secondry_skill"  class="form-control" required>
																							  </div>
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
						  
																					  </div>
																					  <div class="row">
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
																						  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																						  <label><span style="color:red;">*</span>Job Location:</label></div>
																						  <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																								  <input type="text" id="jloc" name="job_location" class="form-control" required>
																						  </div>
																						  
																					  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																					  <label>Location Flexiblity:</label></div>
																							  <div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																									  <select id="locflex"  class="form-control" name="loc_flex" required>
																										  <option value="Y">Yes</option>
	                                                  												    <option value="N">No</option> 
																									  </select>
																							  </div>
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
						  
																					  </div>
	  
																					  <div class="row">
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
																							  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																							  <label><span style="color:red;">*</span>Job Description:</label></div>
																							  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
																								  <textarea id="jdesp" name="job_description" style="width: 90%;border-radius: 5px;" ></textarea>
																							  </div>
																						  </div>
																					  <div class="row">
																							  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
																							  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																							  <label>Comments:</label></div>
																							  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
																								  <textarea id="comm" name="jd_comments" style="width: 90%;border-radius: 5px;" ></textarea>
																							  </div>
																						  </div>
					  
																			  
																		  
																	  
																	  </div>
																	  
																  </div>
													  
															  </div>
													  
														  
													  
													  <div class="footer" style="margin:3%;">
														  <div class="form-group row text-right" style="right:-24%;top:-13px;">
															  <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
																  <button type="submit"  class="btn btn-info">Submit</button>
																  <button type="button" id="canceljob"
																	  class="btn btn-info">Cancel</button>
		  
															  </div>
														  </div>
													  </div>
												  </div>
											  </div>
											  </form>

								</div>
								<div id="operationsTab" class="tab-pane fade">
									<div id="jobslisting" class="" >
										<br>
										<div class="card" >
											<h5 class="card-header" style="background-color: #73c7e7">Recently Added Jobs</h5>
											<div class="card-body" id="joblistingbody">
								
												
													
														<!-- <div class="row">
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"></div>
															<div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
																	<label><h3>Recently Added Jobs</h3></label>	</div>										 
															<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"></div>
														</div> -->
														
															
										
													
										
													
														<div class="card">
														<div class="row">
														 <div class="col-lg-3"><p style="color: black;">Requirment ID</p></div>
														 <div class="col-lg-3"><p style="color: black;">Job Name</p></div>
														 <div class="col-lg-3"><p style="color: black;">Customer</p></div>
														</div>
														<div class="row">
															<div class="col-lg-3"><p style="color: black;">Job Location</p></div>
															<div class="col-lg-3"><p style="color: black;">No Of Positions</p></div>
															<div class="col-lg-3"><p style="color: black;">Skills</p></div>
															<div style="margin-top: -22px;
															
															margin-left: 102px">
																<a href="#" class="btn btn-info ">View</a>
																
															  </div>
														   </div>
														
													
													</div>
											
									</div>


								</div>

							</div>
								</div>
								<div id="jobsTab" class="tab-pane fade"></div>

							</div>
		            
			           <!-- <div class="col-md-12 tab-wrap">
			            
			            <div class="tab-content" id="">

			              <div class="tab-pane fade show active " id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab" >
								
							
	
	


									
	
	
								</div>
	
	
								</div>
	
							</div> -->
	
						
					
				</div>
			</div>
		</div>
	</div>

	<footer >
		<div class="container">
		  	  <div class="row">
			<div class="col-md-12 text-center">
  
			  <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	 L&T Technology Services <i class="icon-heart text-danger" aria-hidden="true"></i> 
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>
		  </div>
		</div>
	  </footer>


	  
	  
		<!-- Modal -->
		<div class="modal fade" id="jobModal"role="dialog" style="margin-top: 15%;" >
		  <div class="modal-dialog modal-lg">
			<div class="modal-content">
			  <div class="modal-header" style="background-color: #73c7e7">
				<h4 class="modal-title">Job Description</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				
			  </div>
			  <div class="modal-body" style="overflow:auto;height:205px;">
				  <div class="row">
				  <div class="col-sm-1"></div>
					  <div class="col-sm-2">
						   <label><span style="color:red">*</span>Requirement ID:</label>
					  </div>
					  <div class="col-sm-3">
						   <p id="leadid" style="display:none;"></p>
						   <input type="text"  class="form-control" id="tit">
					  </div>
					  
					  <div class="col-sm-2">
						  <label style="width: 113px;">Job Location:</label>
					  </div>
					  <div class="col-sm-3">
						  <input type="text" class="form-control"  id="tit">
					  </div>
					  <div class="col-sm-1"> </div>
				  </div> 
				  <div class="row">
				  <div class="col-sm-1"></div>
					  <div class="col-sm-2">
						   <label><span style="color:red">*</span>Experience:</label>
					  </div>
					  <div class="col-sm-3">
						   <p id="leadid" style="display:none;"></p>
						   <input type="text" class="form-control"  id="tit">
					  </div>
					  
					  <div class="col-sm-2">
						  <label style="width: 113px;">Expected date:</label>
					  </div>
					  <div class="col-sm-3">
						  <input type="date" class="form-control"  id="tit" >
					  </div>
					  <div class="col-sm-1"> </div>
				  </div> 	
				  <div class="row">
				  <div class="col-sm-1"></div>
					  <div class="col-sm-2">
						   <label><span style="color:red">*</span>Location Flexibility:</label>
					  </div>
					  <div class="col-sm-3">
						   <p id="leadid" style="display:none;"></p>
						   <input type="text" class="form-control"   id="tit">
					  </div>
					  
					  <div class="col-sm-2">
						  <label style="width: 113px;">Created By :</label>
					  </div>
					  <div class="col-sm-3">
						  <input type="text" class="form-control"  id="tit">
					  </div>
					  <div class="col-sm-1"> </div>
				  </div> 
				  <div class="row">
				  <div class="col-sm-1"></div>
					  <div class="col-sm-2">
						  <label>Business Unit:</label>
					  </div>
					  <div class="col-sm-3">
						  <select class="form-control"   id="prio" name="priority" >
						  </select>
					  </div>
					  
					  <div class="col-sm-2">
						   <label>Sales Regions:</label>
					  </div>
					  <div class="col-sm-3">
						  <select class="form-control"  id="stat" name="status">
						  </select>
					  </div>
					  <div class="col-sm-1"></div>
				  </div>
				  <div class="row">
				  <div class="col-sm-1"></div>
					  <div class="col-sm-2">
						  <label>Sales Representative:</label>
					  </div>
					  <div class="col-sm-3">
						  <select class="form-control"  id="prio" name="priority" >
						  </select>
					  </div>
					  
					  <div class="col-sm-2">
						   <label>Status:</label>
					  </div>
					  <div class="col-sm-3">
						  <select class="form-control"  id="stat" name="status">
						  </select>
					  </div>
					  <div class="col-sm-1"></div>
				  </div>
				  <div class="row">
				  <div class="col-sm-1"></div>
					  <div class="col-sm-2">
						   <label><span style="color:red">*</span>Primary Skill:</label>
					  </div>
					  <div class="col-sm-3">
						   <p id="leadid" style="display:none;"></p>
						   <input type="text" class="form-control"  id="tit">
					  </div>
					  
					  <div class="col-sm-2">
						  <label style="width: 113px;">Secondary Skill:</label>
					  </div>
					  <div class="col-sm-3">
						  <input type="text" class="form-control"  id="tit">
					  </div>
					  <div class="col-sm-1"> </div>
				  </div> 
				  <div class="row">
				  <div class="col-sm-1"></div>
					  <div class="col-sm-2">
						   <label><span style="color:red">*</span>Created by </label>
					  </div>
					  <div class="col-sm-3">
						   <p id="leadid" style="display:none;"></p>
						   <input type="text" class="form-control"  id="tit">
					  </div>
					  
					  <div class="col-sm-2">
						  <label style="width: 113px;">Updated by  </label>
					  </div>
					  <div class="col-sm-3">
						  <input type="text" class="form-control"  id="tit">
					  </div>
					  <div class="col-sm-1"> </div>
				  </div> 
				  <div class="row">
				  <div class="col-sm-1"></div>
					  <div class="col-sm-2">
						   <label><span style="color:red">*</span>No of Positions : </label>
					  </div>
					  <div class="col-sm-3">
						   <p id="leadid" style="display:none;"></p>
						   <input type="text" class="form-control"  id="tit">
					  </div>
					  
					  <div class="col-sm-2">
						  <label style="width: 113px;">Role/Domain:</label>
					  </div>
					  <div class="col-sm-3">
						  <input type="text" class="form-control"  id="tit">
					  </div>
					  <div class="col-sm-1"> </div>
				  </div>
				  
				  <div class="row">
				  <div class="col-sm-1"></div>
					  <div class="col-sm-2">
						   <label><span style="color:red">*</span>Created by date:</label>
					  </div>
					  <div class="col-sm-3">
						   <p id="leadid" style="display:none;"></p>
						   <input type="Date" class="form-control"   id="tit" >
					  </div>
					  
					  <div class="col-sm-2">
						  <label style="width: 113px;">Updated by date:</label>
					  </div>
					  <div class="col-sm-3">
						  <input type="Date" class="form-control"  id="tit" >
					  </div>
					  <div class="col-sm-1"> </div>
				  </div>
				  <div class="row">
				  <div class="col-sm-1"></div>
					  <div class="col-sm-2">
						   <label><span style="color:red">*</span>Date of request:</label>
					  </div>
					  <div class="col-sm-3">
						   <p id="leadid" style="display:none;"></p>
						   <input type="Date" class="form-control"  id="tit" >
					  </div>
				  
					  <div class="col-sm-2">
						  <label style="width: 113px;">Expected Date:</label>
					  </div>
					  <div class="col-sm-3">
						  <input type="Date" class="form-control"  id="tit" >
					  </div>
					  <div class="col-sm-1"> </div>
				  </div>
				  <div class="row">
				  <div class="col-sm-1"></div>
					  <div class="col-sm-2">
						  <label><span style="color:red">*</span>Job description:</label>
					  </div>
					  <div class="col-sm-3">
						   <p id="leadid" style="display:none;"></p>
						  <input type="text" class="form-control" id="tit">
					  </div>
				   
						  <div class="col-sm-2">
							  <label style="width: 113px;">Customers:</label>
						  </div>
						  <div class="col-sm-3">
							  <select class="form-control" id="qual" name="quali">
							  </select>
						  </div>
						  <div class="col-sm-1"> </div>
				  </div>
	  
				  
			  </div>
			  <div class="modal-footer">
				  <button type="submit" class="btn btn-info" data-dismiss="modal">Save</button>
				  <button type="button" class="btn btn-info" data-dismiss="modal"> Cancel</button>                                                      
			  </div>
			</div>
		  </div>
		</div>
	  


  <!-- <script src="js/jquery.min.js"></script> -->
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>




