<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JobPortal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">   
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">   
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">       
    <!-- <link rel="stylesheet" href="fonts/flaticon.css">
    <link rel="stylesheet" href="fonts/icomoon.css"> -->
	<link rel="stylesheet" href="css/style.css">
<!-- 	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  </head>
  <script>
	$(document).ready(function(){ 
		
		
		$("#v-pills-1-tab").click(function () {

			$("#myCollapsible").collapse('toggle');
			$("#jobdetails").collapse('toggle');
		
		
	});
		$("#canceljob").click(function(){
		
			$("#myCollapsible").hide('toggle');
			$("#jobdetails").hide('toggle');
		
	
	});
		jobstatus();     

	});
	
//   document.getElementById('choosefile').onchange = uploadOnChange;

function uploadOnChange() {
  var path = $("#choosefile").val();
 
  filetext = path.split('\\').pop().split('/').pop();
					
					$("#filename").val(filetext);
}


function jobstatus() {
		jobstatusdrop='';
            var url = "http://localhost:2000/jobstatus";
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    for (var i = 0; i < result[0].length; i++) {
                        jobstatusdrop = jobstatusdrop +
                            '<option value="' + result[0][i].statusId + '">' + result[0][i].status + '</option>';
                    }
                    $("#jobstatus").html(jobstatusdrop);
                   
                }
            });
        }

  </script>
  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html"><h1 style="font-weight: 600;font-size:50px;color:#6bf682;">JobTracker</h1></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto" >
	          <!-- <li class="nav-item active"><a href="" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/about" class="nav-link">About</a></li> 
	          <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li> -->
	          <li class="nav-item active" ><a href="/contact" class="nav-link " style="font-size: 20px;color: #73c7e7;font-weight: 900;" >Jobs</a></li> 
	          <li class="nav-item "><a href="/postjob" class="nav-link" style="font-size: 20px;color: #73c7e7;font-weight: 900;">Operations</a></li> 
	          <li class="nav-item "><a href="/newpost" class="nav-link" style="font-size: 20px;color: #73c7e7;font-weight: 900;">Interviews</a></li>

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
	<div class="hero-wrap js-fullheight" style="background-image: url('/assets/img/bg_2.jpg'); height:572px;"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
				data-scrollax-parent="true">
				<div class="col-xl-10 ftco-animate mb-5 pb-5" data-scrollax=" properties: { translateY: '70%' }">
					<p class="mb-4 mt-5 pt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We have <span
							class="number" data-number="8">0</span> great job offers you observe!</p>
					<h1 class="mb-5" style="font-weight: 100;font-size:40px;"
						data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Job Creation</h1>
	
					<div class="ftco-search">
						<div class="row">
							<div class="col-md-12 nav-link-wrap">
								<div class="nav nav-pills text-center" id="v-pills-tab" role="tablist"
									aria-orientation="vertical">
									<a class="nav-link active mr-sm-1 " id="v-pills-1-tab" data-toggle="pill"
										href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">New
										Job</a>
	
									<!-- <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Vendors</a> -->
	
								</div>
							</div>
							<div class="col-md-12 tab-wrap">
	
								<div class="tab-content" id="v-pills-tabContent">
	
									<div class="tab-pane fade show active " id="v-pills-1" role="tabpanel"
										aria-labelledby="v-pills-nextgen-tab">
	
										<form action="#" class="search-job">
	
											<div id="jobdetails" class="collapse hide">
												<br>
												<!-- <div class="row">
												<div class="col-lg-12"></div>
											</div> -->
												<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="overflow-y: scroll;height:500px;">
													<div class="card">
														<h5 class="card-header" style="background-color: #73c7e7">Details
														</h5>
														<div class="card-body">
															<form id="validationform" data-parsley-validate="" novalidate="">
																<div class="row">
																	<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
																	</div>
																	<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																		<label><span style="color:red;">*</span>Business
																			Unit:</label></div>
																	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																		<select class="form-control" required></select>
																	</div>
												
																	<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																		<label><span style="color:red;">*</span>Sales
																			Region:</label></div>
																	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																		<select class="form-control" required></select>
																	</div>
																	<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																	</div>
												
																</div>
																<div class="row">
																	<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																	</div>
																	<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																		<label><span style="color:red;">*</span>Sales
																			Representative:</label></div>
																	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																		<select class="form-control" required></select>
																	</div>
												
																	<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																		<label><span style="color:red;">*</span>Customer:</label>
																	</div>
																	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																		<select class="form-control" required></select>
																	</div>
																	<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																	</div>
												
																</div>
												
																<div class="row">
																	<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																	</div>
																	<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																		<label>Comments:</label></div>
																	<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
																		<textarea style="width: 90%;border-radius: 5px;"></textarea>
																	</div>
																</div>
												
												
															</form>
														</div>
													</div>
												
												
												
												
												
													<div id="myCollapsible" class="collapse hide">
														<br>
														<div class="card">
															<h5 class="card-header" style="background-color: #73c7e7">Job
																Description</h5>
															<div class="card-body">
												
																<form id="validationform" data-parsley-validate="" validate="">
																	<div class="row">
												
																		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
																		</div>
												
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<input type="file" id="choosefile" onchange="uploadOnChange()" name="myFile" multiple
																				style="color: black;font-size: 13px;">
																		</div>
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																		</div>
												
																		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			<input type="text" class="form-control" id="filename" style="width: 100%;" disabled>
																		</div>
												
																	</div>
												
																	<div class="row">
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label><span style="color:red;">*</span>Requirement
																				I'd:</label></div>
																		<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			<input type="text" class="form-control" required>
																		</div>
												
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label><span style="color:red;">*</span>Role/Domain:</label>
																		</div>
																		<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			<input type="text" class="form-control" required>
																		</div>
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
												
																	</div>
																	<div class="row">
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label><span style="color:red;">*</span>Expected
																				Date:</label></div>
																		<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			<input type="date" class="form-control" required>
																		</div>
												
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label><span style="color:red;">*</span>No of
																				Positions :</label></div>
																		<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			<input type="text" class="form-control" required>
																		</div>
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
												
																	</div>
																	<div class="row">
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label><span style="color:red;">*</span>Experience:</label>
																		</div>
																		<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			<input type="text" class="form-control" required>
																		</div>
												
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label><span style="color:red;">*</span>Status:</label>
																		</div>
																		<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			<select class="form-control" id="jobstatus" required></select>
																		</div>
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
												
																	</div>
												
																	<div class="row">
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label><span style="color:red;">*</span>Primary
																				Skill:</label></div>
																		<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			<input type="text" class="form-control" required>
																		</div>
												
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label><span style="color:red;">*</span>Secondary
																				Skill:</label></div>
																		<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			<input type="text" class="form-control" required>
																		</div>
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
												
																	</div>
																	<div class="row">
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label><span style="color:red;">*</span>Job
																				Location:</label></div>
																		<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			<input type="text" class="form-control" required>
																		</div>
												
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label>Location Flexiblity:</label></div>
																		<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
																			<select class="form-control" required>
												
																				<option>Yes</option>
												
																				<option>No</option>
												
																			</select>
																		</div>
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
												
																	</div>
												
																	<div class="row">
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label><span style="color:red;">*</span>Job
																				Description:</label></div>
																		<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
																			<textarea style="width: 90%;border-radius: 5px;" required></textarea>
																		</div>
																	</div>
																	<div class="row">
																		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
																		</div>
																		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
																			<label>Comments:</label></div>
																		<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
																			<textarea style="width: 90%;border-radius: 5px;"></textarea>
																		</div>
																	</div>
												
												
																</form>
												
															</div>
												
														</div>
												
													</div>
												</div>
												<div class="footer" style="margin:3%;">
													<div class="form-group row text-right" style="right:-24%;top:-13px;">
														<div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
															<button type="submit" class="btn btn-info">Submit</button>
															<button type="button" id="canceljob"
																class="btn btn-info">Cancel</button>
	
														</div>
													</div>
												</div>
	
											</div>
	
	
	
	
	
	
										</form>
	
	
	
									</div>
	
	
	
	
	
								</div>
	
							</div>
	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer >
		<div class="container">
		  <!-- <div class="row mb-5">
			  <div class="col-md">
			   <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">About</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
				  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
				  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
				  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">Employers</h2>
				<ul class="list-unstyled">
				  <li><a href="#" class="py-2 d-block">How it works</a></li>
				  <li><a href="#" class="py-2 d-block">Register</a></li>
				  <li><a href="#" class="py-2 d-block">Post a Job</a></li>
				  <li><a href="#" class="py-2 d-block">Advance Skill Search</a></li>
				  <li><a href="#" class="py-2 d-block">Recruiting Service</a></li>
				  <li><a href="#" class="py-2 d-block">Blog</a></li>
				  <li><a href="#" class="py-2 d-block">Faq</a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4 ml-md-4">
				<h2 class="ftco-heading-2">Workers</h2>
				<ul class="list-unstyled">
				  <li><a href="#" class="py-2 d-block">How it works</a></li>
				  <li><a href="#" class="py-2 d-block">Register</a></li>
				  <li><a href="#" class="py-2 d-block">Post Your Skills</a></li>
				  <li><a href="#" class="py-2 d-block">Job Search</a></li>
				  <li><a href="#" class="py-2 d-block">Emploer Search</a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				  <h2 class="ftco-heading-2">Have a Questions?</h2>
				  <div class="block-23 mb-3">
					<ul>
					  <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
					  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
					  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
					</ul>
				  </div>
			  </div>
			</div>
		  </div> -->
		  <div class="row">
			<div class="col-md-12 text-center">
  
			  <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>
		  </div>
		</div>
	  </footer>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>




