<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JobPortal - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
    
    
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
        
    <link rel="stylesheet" href="fonts/flaticon.css">
    <link rel="stylesheet" href="fonts/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <style>
      .p-4{
        padding: 0.5rem !important;
      }
      .scroll {
  width: 970px;
  height: 500px;
  border: 8px solid #D7BDE2;
  box-sizing: border-box;
  overflow:auto;
}
  </style>
 
 
<body>

        <!-- <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                  <a class="navbar-brand" href="index.html">Jobs</a>
              
                </div>
              </nav>    -->


              <!-- <script>
                 
                  function buttonclick() {
                      var modal =document.getElementById('jdmodal');
                         modal.style.display = "block";
                }
              
              </script> -->


        <div class="hero-wrap js-fullheight" style="background-image: url('/assets/img/bg_2.jpg');height:910px;" data-stellar-background-ratio="0.5">

<div class="container">
        
    <a class="navbar-brand" href="index.html" style="color:white;font-size: 46px;margin-left: 45%;position: relative;">Jobs</a> 

<div class="scroll">
    <div class="row">
        <div class="col-md-12 ftco-animate fadeInUp ftco-animated">

<div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center" >

  <div class="mb-4 mb-md-0 mr-5"  onclick="buttonclick()" data-toggle="modal"  id="applyjob" >
    <div class="job-post-item-header d-flex align-items-center">
      <h2 class="mr-3 text-black h3">Frontend Development</h2>
      <div class="badge-wrap">
       <span class="bg-primary text-white badge py-2 px-3">Partime</span>
      </div>
    </div>
    <div class="job-post-item-body d-block d-md-flex">
      <div class="mr-3"><span class="icon-layers"></span> <a href="#">Facebook, Inc.</a></div>
      <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
    </div>
  </div>

</div>
</div><!-- end -->


<div class="col-md-12 ftco-animate fadeInUp ftco-animated">
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4">Full Stack Developer</h2>
                 <div class="badge-wrap">
                  <span class="bg-warning text-white badge py-2 px-3">Full Time</span>
                 </div>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3"><span class="icon-layers"></span> <a href="#">Google, Inc.</a></div>
                 <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
               </div>
              </div>

             

            </div>
</div> <!-- end -->
<div class="col-md-12 ftco-animate fadeInUp ftco-animated">
<div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

  <div class="mb-4 mb-md-0 mr-5">
   <div class="job-post-item-header d-flex align-items-center">
     <h2 class="mr-3 text-black h4">Open Source Interactive Developer</h2>
     <div class="badge-wrap">
      <span class="bg-info text-white badge py-2 px-3">Freelance</span>
     </div>
   </div>
   <div class="job-post-item-body d-block d-md-flex">
     <div class="mr-3"><span class="icon-layers"></span> <a href="#">New York Times</a></div>
     <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
   </div>
  </div>
  
  
</div>
</div> <!-- end -->
<div class="col-md-12 ftco-animate fadeInUp ftco-animated">

<div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

  <div class="mb-4 mb-md-0 mr-5">
   <div class="job-post-item-header d-flex align-items-center">
     <h2 class="mr-3 text-black h4">Frontend Development</h2>
     <div class="badge-wrap">
      <span class="bg-secondary text-white badge py-2 px-3">Internship</span>
     </div>
   </div>
   <div class="job-post-item-body d-block d-md-flex">
     <div class="mr-3"><span class="icon-layers"></span> <a href="#">Facebook, Inc.</a></div>
     <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
   </div>
  </div>

  
</div>
</div> <!-- end -->
<div class="col-md-12 ftco-animate fadeInUp ftco-animated">
<div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

  <div class="mb-4 mb-md-0 mr-5">
   <div class="job-post-item-header d-flex align-items-center">
     <h2 class="mr-3 text-black h4">Open Source Interactive Developer</h2>
     <div class="badge-wrap">
      <span class="bg-danger text-white badge py-2 px-3">Temporary</span>
     </div>
   </div>
   <div class="job-post-item-body d-block d-md-flex">
     <div class="mr-3"><span class="icon-layers"></span> <a href="#">New York Times</a></div>
     <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
   </div>
  </div>
  
  
</div>
</div> <!-- end -->
<div class="col-md-12 ftco-animate fadeInUp ftco-animated">

<div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

  <div class="mb-4 mb-md-0 mr-5">
    <div class="job-post-item-header d-flex align-items-center">
      <h2 class="mr-3 text-black h3">Frontend Development</h2>
      <div class="badge-wrap">
       <span class="bg-primary text-white badge py-2 px-3">Partime</span>
      </div>
    </div>
    <div class="job-post-item-body d-block d-md-flex">
      <div class="mr-3"><span class="icon-layers"></span> <a href="#">Facebook, Inc.</a></div>
      <div><span class="icon-map-marker"></span> <span>Western City, UK</span></div>
    </div>
  </div>

</div>
</div><!-- end -->

<div class="col-md-12 ftco-animate fadeInUp ftco-animated">
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4">Full Stack Developer</h2>
                 <div class="badge-wrap">
                  <span class="bg-warning text-white badge py-2 px-3">Full Time</span>
                 </div>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3"><span class="icon-layers"></span> <a href="#">Google, Inc.</a></div>
                 <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
               </div>
              </div>

</div>
</div> <!-- end -->
<div class="col-md-12 ftco-animate">
<div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

  <div class="mb-4 mb-md-0 mr-5">
   <div class="job-post-item-header d-flex align-items-center">
     <h2 class="mr-3 text-black h4">Open Source Interactive Developer</h2>
     <div class="badge-wrap">
      <span class="bg-info text-white badge py-2 px-3">Freelance</span>
     </div>
   </div>
   <div class="job-post-item-body d-block d-md-flex">
     <div class="mr-3"><span class="icon-layers"></span> <a href="#">New York Times</a></div>
     <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
   </div>
  </div>
  
  
</div>
</div> <!-- end -->
<div class="col-md-12 ftco-animate">

<div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

  <div class="mb-4 mb-md-0 mr-5">
   <div class="job-post-item-header d-flex align-items-center">
     <h2 class="mr-3 text-black h4">Frontend Development</h2>
     <div class="badge-wrap">
      <span class="bg-secondary text-white badge py-2 px-3">Internship</span>
     </div>
   </div>
   <div class="job-post-item-body d-block d-md-flex">
     <div class="mr-3"><span class="icon-layers"></span> <a href="#">Facebook, Inc.</a></div>
     <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
   </div>
  </div>

  
</div>
</div> <!-- end -->
<div class="col-md-12 ftco-animate">
<div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

  <div class="mb-4 mb-md-0 mr-5">
   <div class="job-post-item-header d-flex align-items-center">
     <h2 class="mr-3 text-black h4">Open Source Interactive Developer</h2>
     <div class="badge-wrap">
      <span class="bg-danger text-white badge py-2 px-3">Temporary</span>
     </div>
   </div>
   <div class="job-post-item-body d-block d-md-flex">
     <div class="mr-3"><span class="icon-layers"></span> <a href="#">New York Times</a></div>
     <div><span class="icon-my_location"></span> <span>Western City, UK</span></div>
   </div>
  </div>
  
  
</div>
</div> <!-- end -->

    </div>
    </div>
</div>
</div>
</body>
</html>